<div class="modal-supermodulo modal-crud ">
  <mat-card class="formulario-modal ">
    <mat-card-header>
      <mat-card-title>PERMISOS</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="formulario-supermodulo formulario grid" [formGroup]="formularioPermisoTotal" (ngSubmit)="guardarPermiso()">
        <div class="form-group field  col-4">

          <app-combo-almacen
          [almacenesInput]="selectedAlmacen"
          (almacenSeleccionado)="onAlmacenSeleccionado($event)"
          ></app-combo-almacen>

        </div>
        <div class="form-group field  col-4">

          <app-combo-supermodulo
            [supermodulosInput]="selectedSupermodulo"
            (supermoduloSeleccionado)="onSupermoduloSeleccionado($event)
           ">
          </app-combo-supermodulo>
          <mat-error *ngIf="esCampoValido('supermodulo')">{{ mensajeError('supermodulo') }}</mat-error>

        </div>
        <div class="form-group col-4">

          <app-combo-modulo
          [supermoduloSeleccionado]="selectedSupermodulo"
          [modulosInput]="selectedModulo"
          (moduloSeleccionado)="onModuloSeleccionado($event)">
          </app-combo-modulo>
          <mat-error *ngIf="esCampoValido('modulo')">{{ mensajeError('modulo') }}</mat-error>

        </div>
        <div class="form-group col-4">

          <app-combo-submodulo
          [moduloSeleccionado]="selectedModulo"
          [submodulosInput]="selectedSubmodulo"
          (submoduloSeleccionado)="onSubmoduloSeleccionado($event)">
          </app-combo-submodulo>
          <mat-error *ngIf="esCampoValido('submodulo')">{{ mensajeError('submodulo') }}</mat-error>
        </div>
        <div class="form-group col-4">

          <app-combo-permiso
          [submoduloSeleccionado]="selectedSubmodulo"
          [permisosInput]="selectedPermiso"
          (permisoSeleccionado)="onPermisoSeleccionado($event)">
          </app-combo-permiso>
          <mat-error *ngIf="esCampoValido('permiso')">{{ mensajeError('permiso') }}</mat-error>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" ngbtooltip="btn-light-primary" class="btn btn-light-primary" (click)="guardarPermiso();">Guardar</button>
      <button type="button" ngbtooltip="btn-light-Dark" class="btn btn-light-dark" mat-dialog-close (click)="onNoClick()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
</div>
