<div class="modal-supermodulo modal-crud">
  <mat-card class="formulario-modal ">
    <mat-card-header>
      <mat-card-title>{{ !!data.permiso  ? 'EDITAR' : 'CREAR' }} PERMISO</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="formulario-supermodulo formulario" [formGroup]="formularioPermiso">
        <div class="form-group">
          <app-combo-supermodulo
            [supermodulosInput]="selectedSupermodulo"
            (supermoduloSeleccionado)="onSupermoduloSeleccionado($event)
           "/>
          <mat-error *ngIf="esCampoValido('id_supermodulo')">{{ mensajeError('id_supermodulo') }}</mat-error>
        </div>
        <div class="form-group">
           <app-combo-modulo
          [supermoduloSeleccionado]="selectedSupermodulo"
          [modulosInput]="selectedModulo"
          (moduloSeleccionado)="onModuloSeleccionado($event)"/>
          <mat-error *ngIf="esCampoValido('id_modulo')">{{ mensajeError('id_modulo') }}</mat-error>
        </div>

        <div class="form-group">
          <app-combo-submodulo
         [moduloSeleccionado]="selectedModulo"
         [submodulosInput]="selectedSubmodulo"
         (submoduloSeleccionado)="onSubmoduloSeleccionado($event)"/>
         <mat-error *ngIf="esCampoValido('id_submodulo')">{{ mensajeError('id_submodulo') }}</mat-error>
       </div>


        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="input-text-modal" formControlName="nombre">
          <mat-error *ngIf="esCampoValido('nombre')">{{ mensajeError('nombre') }}</mat-error>
        </div>
        <div class="form-group">
          <label for="nombre">Descripción:</label>
          <input type="text" class="input-text-modal" formControlName="descripcion">
          <mat-error *ngIf="esCampoValido('descripcion')">{{ mensajeError('descripcion') }}</mat-error>
        </div>
        <div class="form-group">
          <label for="nombre">Ruta:</label>
          <input type="text" class="input-text-modal" formControlName="ruta">
          <mat-error *ngIf="esCampoValido('ruta')">{{ mensajeError('ruta') }}</mat-error>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="!!data.permiso; else mostrarOtroMensaje">
        <button  type="button" ngbtooltip="btn-light-primary" class="btn btn-light-primary" (click)="editarPermiso()">Actualizar</button>
      </div>

      <ng-template #mostrarOtroMensaje>
        <button  type="button" ngbtooltip="btn-light-primary" class="btn btn-light-primary" (click)="guardarPermiso()">Guardar</button>
      </ng-template>

      <button  type="button" ngbtooltip="btn-light-Dark" class="btn btn-light-dark" (click)="onNoClick()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
</div>

