<div class="page-total">
  <div class="grid ventana">
    <!-- <div class="col-3 p-3">
      <div class=" p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">

        <form *ngIf="formularioUsuario" [formGroup]="formularioUsuario" (ngSubmit)="onSubmit()" class="col-12 formulario">
          <div class="formgrid grid">
            <div class="field col">
              <label for="nombre">Nombre: </label>
              <mat-form-field
                class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <input matInput id="nombre" type="text" formControlName="nombre">
                <mat-error *ngIf="esCampoValido('nombre')">{{ mensajeError('nombre') }}</mat-error>
              </mat-form-field>

            </div>
            <div class="field col">
              <label for="correo_electronico">Correo electronico: </label>
              <mat-form-field
                class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <input matInput id="correo_electronico" type="text" formControlName="correo_electronico">
                <mat-error *ngIf="mostrarError('correo_electronico')">{{ mensajeError('correo_electronico')}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div class="formgrid grid">

            </div>
            <div class="flex flex-row-reverse flex-wrap">
              <button type="button" class="btn btn-danger" (click)="regresar()">Cancelar</button>
              <button type="submit" class="btn btn-light-primary">Actualizar</button>

            </div>
          </div>
        </form>

      </div>
    </div> -->
    <div class="col-12 p-3">
      <div class="p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">
        <!-- <div class="subtitulo col-12">Permisos</div> -->
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="col-12 tabs-general">
          <mat-tab label="Perfil">
            <app-usuario-formulario-editar [id_usuario]="id_usuario"></app-usuario-formulario-editar>
          </mat-tab>
          <mat-tab label="Permisos">
            <usuario-tabla-permisos [id_usuario]="id_usuario"></usuario-tabla-permisos>
          </mat-tab>
          <!--<mat-tab label="Second">Content 2</mat-tab>
          <mat-tab label="Third">Content 3</mat-tab>-->
        </mat-tab-group>


      </div>
    </div>
  </div>
  <div class="grid ventana">

  </div>
</div>
