<label for="nombre">Permiso:</label>
<mat-form-field>
  <mat-select [formControl]="myControl" multiple (selectionChange)="someMethod($event)">
    <mat-option [value]="0">TODOS</mat-option>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id_permiso">{{ option.nombre }}</mat-option>
  </mat-select>
</mat-form-field>

