<!-- sidebar.component.html -->

<nav class="sidebar fondo-dark">
  <div class="menu_content">
    <ul class="menu_items" *ngFor="let supermodulo of menu; let i = index">
      <div class="menu_title"
      [attr.data-name]="supermodulo.ruta"
      data-nivel="supermodulo"
      >{{ supermodulo.nombre }}</div>


      <li class="item" *ngFor="let modulo of supermodulo.modulo; let j = index">



        <div routerLinkActive="show_submenux"
        class="nav_link submenu_item"
        (click)="toggleSubMenu(modulo.ruta_modulo,modulo.isActive)"
        [ngClass]="{'show_submenu': modulo.isActive}"
        [attr.data-nivel]="'modulo'"
        [attr.data-name]="obtenerRutaCompleta(modulo.ruta_modulo)"
        [class.show_submenux]="isActive(modulo.ruta_modulo)">
          <span class="navlink_icon">
            <i class="bx bx-grid-alt"></i>
          </span>
          <span class="navlink">{{modulo.nombre}}</span>
          <i class="bx bx-chevron-right arrow-left"></i>
        </div>



        <ul class="menu_items submenu">
          <li *ngFor="let submodulo of modulo.submodulo; let k = index">
            <a routerLinkActive="active"
              [routerLink]="[submodulo.ruta]"
              [queryParamsHandling]="'merge'"
              data-nivel="submodulo"
              (click)="collapseSidebar(submodulo.id_submodulo)"
              [attr.data-name]="obtenerRutaCompleta(submodulo.ruta)"
              [attr.data-id-submodulo]="obtenerRutaCompleta(submodulo.id_submodulo)"
              [ngClass]="{'active': isActive(submodulo.ruta)}"

              class="nav_link sublink">
              <span class="navlink_icon">
                <i class="bx bx-grid-alt"></i>
              </span>
              {{ submodulo.nombre }}</a>
          </li>


        </ul>
      </li>

    </ul>
    <!-- Other menu items -->
    <!-- Add similar ngFor loops for other sections -->
  </div>
  <!-- Sidebar Open / Close -->
  <div class="bottom_content">
    <div class="bottom expand_sidebar" (click)="expandSidebar()">
      <span> Expand</span>
      <i class="bx bx-log-in"></i>
    </div>
    <div class="bottom collapse_sidebar" (click)="collapseSidebar()">
      <span>Ocultar Menu</span>
      <i class="bx bx-log-out"></i>
    </div>
  </div>
</nav>
