<div class="modal-eliminar modal-crud">
  <mat-card class="formulario-modal">
    <mat-card-header>
      <mat-card-title> ELIMINAR REGISTRO: {{ data.nombre }}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="div-icono-eliminar">
        <mat-icon aria-hidden="false" aria-label="Example delete_forever icon" fontIcon="delete_forever" class="icono-eliminar"></mat-icon>
      </div>
      {{data.mensaje }}
    </mat-card-content>
    <mat-card-actions>
      <button  type="button" ngbtooltip="btn-light-primary" class="btn btn-light-danger" (click)="confirmarEliminar()">Eliminar</button>
      <button  type="button" ngbtooltip="btn-light-Dark" class="btn btn-light-dark" (click)="cancelarEliminar()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
</div>

