.ici-consolidado {
  border-spacing: 2px !important;
}

.ici-consolidado .mat-mdc-header-cell{
  background-color: #f9f9f9 !important;
  color: #4b5675 !important;
  font-weight: 600 !important;
}

.nivel-optimo {
  background-color: #dfffea;
  color: #17c653;
  font-weight: 600;
}

.nivel-alto {
  background-color: #e9f3ff;
  color: #1b84ff;
  font-weight: 600;
}

.nivel-regular {
  background-color: #fff8dd;
  color: #f6c000;
  font-weight: 600;
}

.nivel-bajo {
  background-color: #ffeef3;
  color: #f8285a;
  font-weight: 600;
}
