
<div class="page-total fuente" *ngIf="this.evaluacion?.estado.valor !='INICIADO'">
  <div class="grid ventana">
    <div class="col-12">
      <div class="border-round-sm font-bold tarjeta tabla-listado bg-primary " style="position: relative; ">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>EVALUACIÓN - {{this.evaluacion?.descripcion}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions style="display: block;">
            <div class="formgrid grid p-2">
              El tiempo para completar esta encuesta a terminado
            </div>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
      <h2></h2>

    </div>
  </div>
</div>


<div class="page-total fuente" *ngIf="this.evaluacion?.estado.valor =='INICIADO'">
  <div class="grid ventana">
    <div class="col-12">
      <form [formGroup]="formularioPersona" (ngSubmit)="onSubmit()" class="col-12 formulario">
        <div class="border-round-sm font-bold tarjeta tabla-listado bg-primary " style="position: relative; ">
            <h1>{{this.evaluacion?.descripcion}}</h1>
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>DATOS PERSONALES DEL EVALUADO</mat-card-title>
              </mat-card-header>
              <mat-card-actions style="display: block;">
                <div class="formgrid grid">
                  <div class="field field lg:col-4  md:col-6 sm:col-12">
                    <label for="id_tipo_documento">Tipo Documento: </label>
                    <mat-form-field
                      class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                      <mat-select formControlName="id_tipo_documento">
                        <mat-option value="">Ninguno</mat-option>
                        <mat-option *ngFor="let doc of comboDocumentoIdentidad$ | async" [value]="doc.id_tipo">
                          {{ doc.abreviado }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="esCampoValido('id_tipo_documento')">{{ mensajeError('id_tipo_documento') }}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="field field lg:col-4  md:col-6 sm:col-12">
                    <label for="numero_documento">Numero Documento: </label>
                    <mat-form-field
                      class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                      <input matInput id="numero_documento" type="text" formControlName="numero_documento">
                      <mat-error *ngIf="esCampoValido('numero_documento')">{{ mensajeError('numero_documento') }}</mat-error>

                    </mat-form-field>
                  </div>

                </div>
                @if(ver_formulario_datos){


                  <div class="formgrid grid">
                    <div class="field col">
                      <label for="nombres">Nombre: </label>
                      <mat-form-field
                        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        <input matInput id="nombres" type="text" formControlName="nombres">
                        <mat-error *ngIf="esCampoValido('nombres')">{{ mensajeError('nombres') }}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="field col">
                      <label for="ape_paterno">Apellido Paterno: </label>
                      <mat-form-field
                        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        <input matInput id="ape_paterno" type="text" formControlName="ape_paterno" >
                        <mat-error *ngIf="esCampoValido('ape_paterno')">{{ mensajeError('ape_paterno') }}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="field col">
                      <label for="ape_materno">Apellido Materno: </label>
                      <mat-form-field
                        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        <input matInput id="ape_materno" type="text" formControlName="ape_materno">
                        <mat-error *ngIf="esCampoValido('ape_materno')">{{ mensajeError('ape_materno') }}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="field col">
                      <label for="sexo">Sexo: </label>

                      <mat-form-field class="form-group col-12">
                        <mat-select formControlName="sexo" >
                          <mat-option value="M">MASCULINO</mat-option>
                          <mat-option value="F">FEMENINO</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="formgrid grid">
                    <div class="field col-12  md:col-3 sm:col-12">
                      <label for="direccion">Email: </label>
                      <mat-form-field
                        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        <input matInput id="email" type="text" formControlName="email">
                        <mat-error *ngIf="mostrarError('email')">{{ mensajeError('email')}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="field col-12  md:col-3 sm:col-12">
                      <label for="direccion">Dirección: </label>
                      <mat-form-field
                        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        <input matInput id="direccion" type="text" formControlName="direccion">
                        <mat-error *ngIf="mostrarError('direccion')">{{ mensajeError('direccion')}}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="field col-12  md:col-3 sm:col-12">
                      <label for="celular">Celular:</label>
                      <mat-form-field
                        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        <input matInput id="celular" type="text" formControlName="celular">
                        <mat-error *ngIf="esCampoValido('celular')">{{ mensajeError('celular') }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                }
                <div class="formgrid grid">
                  <div class="field col">
                    <label for="numero_documento"></label>
                    @if(!ver_evaluacion){
                      <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" *ngIf="boton_buscar_persona" (click)="buscar_persona()">Buscar</button>
                      <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" *ngIf="boton_editar_parametros_busqueda" (click)="editar_documento()">Editar Parametros de busqueda</button>
                      <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" *ngIf="boton_editar_datos" (click)="editar_datos()">Editar Datos</button>
                      <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" *ngIf="boton_guardar_datos" (click)="guardar_datos()">Guardar Datos y Continuar</button>
                      <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" *ngIf="boton_resolver_evaluacion" (click)="resolver_evaluacion()">Continuar Evaluacion</button>
                    }

                  </div>
                </div>
              </mat-card-actions>
            </mat-card>
            <br>
          </div>
      </form>


    </div>
  </div>
  <div class="grid ventana">
    <div class="col-12">
      @if(ver_evaluacion){
        <div class="table-responsive border rounded-1 divtbllistado" data-bs-theme="dark" id="divtbllistado" style="height:600px">
          <div class="border-round-sm font-bold tarjeta tabla-listado bg-primary " style="position: relative; ">
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Nombre: {{evaluacion?.nombre}}</mat-card-title>
                <mat-card-subtitle>{{evaluacion?.descripcion}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions style="display: block;">
                <div *ngFor="let pregunta of pregunta_alternativa; let i = index" style="display: block;
                position: relative;
                width: 100%;">
                  <p><strong>{{i+1}} .- {{ pregunta.pregunta }}</strong></p>
                  <label for="" *ngIf="pregunta.tipo_pregunta.valor == 'OPCION MULTIPLE'">
                    <div *ngFor="let alternativa of pregunta.alternativas">

                      <label *ngIf="alternativa.alternativa">
                        <p><mat-checkbox [value]="alternativa.id_alternativa"
                          [attr.data-id-alternativa]="alternativa.id_alternativa"
                          [attr.data-id-pregunta]="pregunta.id_pregunta"
                          >{{alternativa.alternativa}}</mat-checkbox></p>
                      </label>
                    </div>
                  </label>
                  <label for="" *ngIf="pregunta.tipo_pregunta.valor == 'VERDADERO O FALSO'">
                    <div *ngFor="let alternativa of pregunta.alternativas">
                      <mat-radio-button class="example-radio-button"
                      [attr.data-id-alternativa]="alternativa.id_alternativa"
                      [attr.data-id-pregunta]="pregunta.id_pregunta"
                      >{{alternativa.alternativa}}</mat-radio-button>

                    </div>
                  </label>
                  <label for="" *ngIf="pregunta.tipo_pregunta.valor == 'RESPUESTA ABIERTA'">
                    <div *ngFor="let alternativa of pregunta.alternativas">
                      <textarea matInput style="width: 100%;"
                      [attr.data-id-alternativa]="alternativa.id_alternativa"
                      [attr.data-id-pregunta]="pregunta.id_pregunta"
                      ></textarea>
                    </div>
                  </label>

                </div>
                <button type="button"   [disabled]="isButtonDisabled" ngbtooltip="btn-light-primary" class="btn btn-primary" (click)="enviarRespuestas()">
                  Enviar Respuestas
                </button>
              </mat-card-actions>
            </mat-card>
            <br>

          </div>
        </div>
        <p-toast position="bottom-center" key="bc"></p-toast>

      }
    </div>
  </div>
</div>
