<label for="nombre">Ris:</label>
<mat-form-field class="example-full-width">
  <input type="text" matInput [formControl]="myControl"  [matAutocomplete]="auto">
  <mat-autocomplete  (optionSelected)="onSelectionChange($event)" #auto="matAutocomplete">
    <mat-option [value]="0">TODOS</mat-option>
    <mat-option *ngFor="let option of options; trackBy: trackOption" [value]="option">
      {{ option.descripcion }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
