.divtbllistado table :is(th, td){
  color: #525252;
  padding: 5px 10px;
  border: 1px solid #b9b9b9;
}
.divtbllistado table thead {
  background-color: #f2f2f2;
  z-index: 2;
  position: sticky;
  top: 0;
}
/* Aplicar position: sticky a las primeras 12 columnas, excluyendo la segunda fila */
#idPrueba tr:first-child th:nth-child(-n+12) {
  position: sticky;
  left: 0;
  background-color: white; /* Ajusta el fondo si es necesario */
  z-index: 1; /* Asegura que las columnas fijas estén sobre las demás */
}

#idPrueba td:nth-child(-n+12) {
  position: sticky;
  left: 0;
  background-color: white; /* Ajusta el fondo si es necesario */
  z-index: 1; /* Asegura que las columnas fijas estén sobre las demás */
}

.divtbllistado.tablalibrodecontrol{
  overflow: auto;
  display: block;
  background: #cdcdcd;
}
