table th,table td{

  color:#5d87ff
}

table {
  width: 100%;
  background: #dee7ff;
}
.example-loading-shade {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  align-items: center;
  justify-content: center;
  display: flow;
  background: #d7d7d7;
  text-align: -webkit-center;
}
