
  <div *ngIf="isLoadingResultsDetallado" class="example-loading-shade">
      <mat-spinner></mat-spinner>
  </div>


<table *ngIf="!isLoadingResultsDetallado" mat-table [dataSource]="detalle_stock" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="lote">
    <th mat-header-cell *matHeaderCellDef> LOTE </th>
    <td mat-cell *matCellDef="let element"> {{element.lote}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="fecha_vto">
    <th mat-header-cell *matHeaderCellDef> FECHA DE VENCIMIENTO </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha_vto}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="med_reg_san">
    <th mat-header-cell *matHeaderCellDef> REGISTRO SANITARIO </th>
    <td mat-cell *matCellDef="let element"> {{element.med_reg_san}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="tipsum">
    <th mat-header-cell *matHeaderCellDef> TIPO SUMINISTRO </th>
    <td mat-cell *matCellDef="let element"> {{element.tipsum}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="ffinan">
    <th mat-header-cell *matHeaderCellDef> FUENTE DE FINANCIAMIENTO </th>
    <td mat-cell *matCellDef="let element"> {{element.ffinan}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef> STOCK </th>
    <td mat-cell *matCellDef="let element"> {{element.stock| number:'1.0-0'}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="precio_op">
    <th mat-header-cell *matHeaderCellDef> PRECIO OPERACIONES </th>
    <td mat-cell *matCellDef="let element"> {{element.precio_op}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
