<div class="page-total">
  <!-- <div class="grid ventana">
    <div class="col-12">
      <div class="text-center p-3 border-round-sm font-bold tarjeta grid">
        <div class="col-3">
          <shared-combo-supermodulo></shared-combo-supermodulo>
        </div>
        <div class="col-3">
          <shared-combo-supermodulo></shared-combo-supermodulo>
        </div>
        <div class="col-3">
          <shared-combo-supermodulo></shared-combo-supermodulo>
        </div>
        <div class="col-3">
          <shared-combo-supermodulo></shared-combo-supermodulo>
        </div>
      </div>
    </div>
  </div> -->

  <div class="grid ventana">
    <div class="col-12">
      <div class="text-center p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">

        <div class="flex flex-row-reverse flex-wrap">
          <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" (click)="agregarUsuario()">Agregar Usuario</button>

        </div>
        <section class="example-container mat-elevation-z0" tabindex="0">
          <table mat-table [dataSource]="dataSource" cdkDropList>
            <!-- Definición de las columnas   ['id_supermodulo', 'nombre', 'ruta', 'estado', 'orden']-->
            <ng-container matColumnDef="id_usuario">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id_usuario}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.persona.nombres}} </td>
            </ng-container>
            <ng-container matColumnDef="correo_electronico">
              <th mat-header-cell *matHeaderCellDef> Correo Electronico </th>
              <td mat-cell *matCellDef="let element"> {{element.correo_electronico}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <!-- Contenido de la celda usando *ngIf y *ngElse -->
              <td mat-cell *matCellDef="let element; let i = index">
                <ng-container *ngIf="element.estado; else elseBlock">
                  <div class="activo-tabla" >Activo</div>
                </ng-container>
                <ng-template #elseBlock>
                  <div class="inactivo-tabla">Inactivo</div>
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="acciones">

              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element" class="botones-tabla">
                <button mat-icon-button color="primary" (click)="editarUsuario(element)" class="boton-eliminar boton-eliminar mdc-icon-button mat-mdc-icon-button mat-primary mat-mdc-button-base">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>

            </ng-container>
            <!-- Agregar más columnas según sea necesario -->

            <!-- Encabezado de la tabla -->
            <tr mat-header-row *matHeaderRowDef="usuarioColumnas"></tr>
            <!-- Fila de datos de la tabla -->
            <tr mat-row *matRowDef="let row; columns: usuarioColumnas;"></tr>
          </table>
        </section>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

      </div>

    </div>
  </div>
</div>
