<label>Almacen</label>
<mat-form-field>
  <mat-select [formControl]="myControl" (selectionChange)="someMethod($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.nombre }}
    </mat-option>
  </mat-select>
</mat-form-field>
