<div class="page-total">
  <div class="grid ventana">
    <div class="col-12 p-3">
      <div class="p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">
        <!-- <div class="subtitulo col-12">Permisos</div> -->
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="col-12 tabs-general">
          <mat-tab label="Perfil">
            <app-mi-cuenta-usuario-perfil></app-mi-cuenta-usuario-perfil>
            <!-- <app-usuario-formulario-editar [id_usuario]="id_usuario"></app-usuario-formulario-editar> -->
          </mat-tab>
          <mat-tab label="Permisos">
            <mi-cuenta-usuario-perfil-usuario-tabla-permisos></mi-cuenta-usuario-perfil-usuario-tabla-permisos>
            <!-- <usuario-tabla-permisos [id_usuario]="id_usuario"></usuario-tabla-permisos> -->
          </mat-tab>
          <!--<mat-tab label="Second">Content 2</mat-tab>
          <mat-tab label="Third">Content 3</mat-tab>-->
        </mat-tab-group>


      </div>
    </div>
  </div>
</div>
