<div class="grid">
  <div class="col-12">
    <div class="text-center p-3 border-round-sm bg-primary font-bold tarjeta tabla-listado contenedor-page">
      <div class="flex flex-row-reverse flex-wrap">
        <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" (click)="abrirFormulario()">Agregar
          supermodulo</button><!---->

      </div>
      <section class="example-container mat-elevation-z0" tabindex="0">
      <table mat-table [dataSource]="dataSource" cdkDropList (cdkDropListDropped)="drop($event)">
        <!-- Definición de las columnas   ['id_supermodulo', 'nombre', 'ruta', 'estado', 'orden']-->
        <ng-container matColumnDef="id_supermodulo">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id_supermodulo}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="ruta">
          <th mat-header-cell *matHeaderCellDef> Ruta </th>
          <td mat-cell *matCellDef="let element"> {{element.ruta}} </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <!-- Contenido de la celda usando *ngIf y *ngElse -->
          <td mat-cell *matCellDef="let element; let i = index">
            <ng-container *ngIf="element.estado; else elseBlock">
              <div class="activo-tabla" (click)="toogleEstado(element, i)">Activo</div>
            </ng-container>
            <ng-template #elseBlock>
              <div class="inactivo-tabla" (click)="toogleEstado(element, i)">Inactivo</div>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="orden">
          <th mat-header-cell *matHeaderCellDef> Orden </th>
          <td mat-cell *matCellDef="let element"> {{element.orden}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">

          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element" class="botones-tabla">
            <button mat-icon-button color="primary" class="boton-eliminar" (click)="editarSupermodulo(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="abrirDialogoEliminar(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>

        </ng-container>
        <!-- Agregar más columnas según sea necesario -->

        <!-- Encabezado de la tabla -->
        <tr mat-header-row *matHeaderRowDef="supermoduloColumnas"></tr>
        <!-- Fila de datos de la tabla -->
        <tr mat-row *matRowDef="let row; columns: supermoduloColumnas;" cdkDrag [cdkDragData]="row"></tr>
      </table>
      </section>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>
</div>
