<mat-drawer-container class="example-container" autosize [hasBackdrop]="true">
  <!--<mat-drawer *ngIf="mostrarMenu" #drawer class="example-sidenav" mode="side"  [opened]="isSidebarOpen" >-->
  <mat-drawer #drawer class="example-sidenav" mode="side"  [opened]="isSidebarOpen" >
    <shared-sidebar-menu (toggleEvent)="onToggle($event)" (loadingEvent)="loadingEvent($event)"></shared-sidebar-menu>
  </mat-drawer>

  <div class="example-sidenav-content ">
    <!-- <shared-toolbar-menu *ngIf="mostrarMenu" (toggleSidebar)="toggleSidebar()"/> -->
    <shared-toolbar-menu  (toggleSidebar)="toggleSidebar()" />
    <!-- <div class="container-xxl titulo-pagina contenedor-page" *ngIf="mostrarMenu"> -->

      <div *ngIf="loading; else content">
        <app-loading></app-loading>
      </div>

      <ng-template  #content>
        <div class="contenedor-grande">
          <div class="container-xxl titulo-pagina contenedor-page" >
            {{ tituloRecibido }}
          </div>
          <router-outlet></router-outlet>
        </div>
      </ng-template>

  </div>

</mat-drawer-container>



