.mat-expansion-panel .field  {
  font-family: "Poppins", sans-serif !important;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-mdc-form-field{
  width: 100%;
}

::ng-deep .mat-menu-panel {
  z-index: 1000; /* Ajusta este valor según sea necesario */
}

.example-container {
  height: 400px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
