.mat-expansion-panel .field  {
  font-family: "Poppins", sans-serif !important;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-mdc-form-field{
  width: 100%;
}


.mat-mdc-card-outlined{
  border-style:none;
}







section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.mat-mdc-mini-fab:not(.mdc-fab--extended){
  border-radius: 12px;
}
.mat-mdc-mini-fab:not(.mdc-fab--extended) .mdc-fab__ripple{
  border-radius: 12px;
}


.h-100{
  height: 100px !important;
}

.mat-mdc-list-item-unscoped-content{
  display: block !important;
  width: 100%;
}

.eee2 {
  width: 50%;
  display: inline-table;
  position: relative;
  bottom: 15px;
}

.eee4{
  width: auto;
  display: inline-block;
  position: relative;
  bottom: 8px;
  padding: 10px 15px;
}

.eee5{
  margin-top: 12px;
}


.mat-mdc-list-item-unscoped-content{
  height: 100px;
  display: flex;
}


/* Estilos para snackbar de éxito */
.success-snackbar {
  background-color: green;
  color: white;
}

/* Estilos para snackbar de error */
.error-snackbar {
  background-color: red;
  color: white;
}
