    <div class="col-12">
      <div class="col">

        <div class="flex flex-row-reverse flex-wrap">
          <button type="button" class="btn btn-light-primary" (click)="agregar_pregunta()">Agregar pregunta</button>
          <button type="button" class="btn btn-light-success" (click)="guardarPreguntaAlternativa()">Guardar preguntas</button>

        </div>
      </div>
      @if(ver_evaluacion){
        <div class="table-responsive border rounded-1 divtbllistado" data-bs-theme="dark" id="divtbllistado">
          <div class="border-round-sm font-bold tabla-listado bg-primary " style="position: relative; ">
            <mat-card appearance="outlined">
              <mat-card-header>
                <!-- <mat-card-title>Nombre: {{evaluacion?.nombre}}</mat-card-title>
                <mat-card-subtitle>{{evaluacion?.descripcion}}</mat-card-subtitle> -->
              </mat-card-header>
              <mat-card-actions style="display: block;">
                  <div *ngFor="let pregunta of pregunta_alternativa; let i = index" style="display: block;
                  position: relative;">
                    <div class="field grid">
                      <label for="firstname3" class="col-fixed" style="width:50px">{{i+1}} .-</label>
                      <div class="col">
                        <mat-form-field class="example-full-width">
                          <input matInput [(ngModel)]="pregunta.pregunta" >
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <mat-form-field >
                          <mat-select  [(ngModel)]="pregunta.id_tipo_pregunta"  (selectionChange)="onTipoPreguntaChange($event, pregunta)">

                              <mat-option *ngFor="let tipoPregunta of selectedTipoPregunta" [value]="tipoPregunta.id">{{tipoPregunta.valor}}</mat-option>

                          </mat-select>
                        </mat-form-field>
                      </div>


                      <div class="col">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          @if(pregunta.tipo_pregunta.opciones){
                            <button mat-menu-item (click)="agregar_alternativa(pregunta.id_pregunta)">
                              <mat-icon>add_circle</mat-icon>
                              <span>Agregar alternativa</span>
                            </button>
                          }

                          <button mat-menu-item (click)="eliminar_pregunta(pregunta.id_pregunta)">
                            <mat-icon>remove</mat-icon>
                            <span>Eliminar pregunta</span>
                          </button>
                        </mat-menu>
                      </div>
                    </div>

                    <mat-list
                    *ngIf="
                    pregunta.alternativas &&
                    pregunta.alternativas.length > 0 &&
                    pregunta.tipo_pregunta.opciones && (
                      pregunta.tipo_pregunta.valor == 'OPCION MULTIPLE' ||
                      pregunta.tipo_pregunta.valor == 'VERDADERO O FALSO'
                    )
                    "
                     class="">
                      <mat-list-item *ngFor="let alternativa of pregunta.alternativas; trackBy: trackAlternativa" class="flex border-round bg-primary-100 p-3 m-3 h-100">

                        <!-- Icono y campo de texto -->
                        <mat-icon class="eee1" matListItemIcon>folder</mat-icon>
                        <mat-form-field class="eee2">
                          <input class="eee3"  matInput [(ngModel)]="alternativa.alternativa" placeholder="Alternativa">
                        </mat-form-field>

                        <!-- Botón para eliminar -->
                         <div class="eee4 eliminar-opcion">
                           <button class="eee5" mat-mini-fab color="warn"  (click)="eliminarAlternativa(pregunta, alternativa.id_alternativa)">
                             <mat-icon>delete</mat-icon>
                           </button>
                         </div>

                         <div class="eee4 eliminar-opcion">
                            <button
                            mat-mini-fab
                            [style.background-color]="alternativa.es_correcta ? '#2ed8b6' : '#ff5370'"
                            (click)="alternativa.es_correcta = !alternativa.es_correcta"
                            class="m-0"
                            aria-label="Example icon button with dynamic icon"
                          >
                            <mat-icon>{{ alternativa.es_correcta ? 'check' : 'close' }}</mat-icon>
                          </button>
                        </div>
                      </mat-list-item>
                    </mat-list>

                    <br>
                    <mat-divider></mat-divider>
                    <br>
                </div>
              </mat-card-actions>
            </mat-card>
            <br>

          </div>
        </div>


      }
    </div>
    <p-toast position="bottom-center" key="bc"></p-toast>
