.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-mdc-form-field{
  width: 100%;
}

* {
  font-family: "Poppins", sans-serif !important;
}
