<form [formGroup]="formularioUsuario" (ngSubmit)="onSubmit()" class="col-12 formulario">
  <div class="formgrid grid">
    <div class="field col">
      <label for="nombres">Nombre: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="nombres" type="text" formControlName="nombres">
        <mat-error *ngIf="esCampoValido('nombres')">{{ mensajeError('nombres') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="ape_paterno">Apellido Paterno: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="ape_paterno" type="text" formControlName="ape_paterno">
        <mat-error *ngIf="esCampoValido('ape_paterno')">{{ mensajeError('ape_paterno') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="ape_materno">Apellido Materno: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="ape_materno" type="text" formControlName="ape_materno">
        <mat-error *ngIf="esCampoValido('ape_materno')">{{ mensajeError('ape_materno') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="sexo">Sexo: </label>

      <mat-form-field class="form-group col-12">
        <mat-select formControlName="sexo" >
          <mat-option value="M">MASCULINO</mat-option>
          <mat-option value="F">FEMENINO</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field col">
      <label for="id_tipo_documento">Tipo Documento: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <mat-select formControlName="id_tipo_documento">
          <mat-option value="">Ninguno</mat-option>
          <mat-option *ngFor="let doc of comboDocumentoIdentidad$ | async" [value]="doc.id_tipo">
            {{ doc.abreviado }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="numero_documento">Numero Documento: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="numero_documento" type="text" formControlName="numero_documento">
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="direccion">Dirección: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="direccion" type="text" formControlName="direccion">
        <mat-error *ngIf="mostrarError('direccion')">{{ mensajeError('direccion')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="celular">Celular:</label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="celular" type="text" formControlName="celular">
        <mat-error *ngIf="esCampoValido('celular')">{{ mensajeError('celular') }}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="formgrid grid">
      <div class="field col">
        <label for="correo_electronico">Correo electronico: </label>
        <mat-form-field
          class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
          <input matInput id="correo_electronico" type="text" formControlName="correo_electronico">
          <mat-error *ngIf="mostrarError('correo_electronico')">{{ mensajeError('correo_electronico')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="field col">
        <label for="password">Password:</label>
        <mat-form-field
          class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
          <input matInput id="password" type="password" formControlName="password">
          <mat-error *ngIf="esCampoValido('password')">{{ mensajeError('password') }}</mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="col">
    <div class="formgrid grid">

    </div>
    <div class="flex flex-row-reverse flex-wrap">
      <button type="button" class="btn btn-danger" (click)="regresar()">Cancelar</button>
      <button type="submit" class="btn btn-light-primary">Agregar</button>

    </div>
  </div>
</form>
