<div class="page-total">
  <div class="grid ventana">
    <div class="col-12">
      <br>
      <mat-accordion class="flex m-1">
        <mat-expansion-panel hideToggle  [expanded]="true"  style="width: 100%;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              FILTROS
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="grid ">
            <div class="xl:col-3  lg:col-3 md:col-6 sm:col-12">
              <app-combo-ris
              (risSeleccionado)="onRisSeleccionado($event)"
              />
            </div>
            <div class="xl:col-3  lg:col-3 md:col-6 sm:col-12">
              <maestra-combo-maestra-categoria [tipoMaestraCategoria]="tipoMaestraCategoria"  (maestraCategoriaSeleccionado)="onMaestraCategoria($event)"/>
            </div>
          </div>
          <div class="grid">
            <button type="button" ngbtooltip="btn-light-success" [disabled]="isLoadingResults" class="btn btn-success" (click)="cuadroKit()">Buscar</button>

            <button mat-button type="button" class="btn btn-primary" [matMenuTriggerFor]="menu">Reporte <mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="exportTableToExcel()">Excel</button>
            </mat-menu>
            <!-- <button >Generar Excel</button> -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="grid ventana">
    <div class="col-12">
      <div class="border-round-sm font-bold tarjeta tabla-listado bg-primary " style="position: relative;">
        @if (isLoadingResults) {
          <div class="example-loading-shade">
              <mat-spinner></mat-spinner>
          </div>
        }
        <table class="" *ngIf="displayedColumns.length > 0" id="tabla-botiquin">

          <thead>
            <tr class="cabecera-primera">
              <th *ngFor="let item of displayedColumns; let i = index" [attr.rowspan]="i < 2 ? 2 : 1" [attr.colspan]="i >= 2 ? 2 : 1" class="cabecera-item-primera">{{item}}</th>
            </tr>
            <tr class="cabecera-segunda">
              <th *ngFor="let item of displayedColumns2; let i = index" class="cabecera-item-segunda">{{item.nombre}}</th>
            </tr>
          </thead>
          <!-- Cuerpo de la tabla -->
          <tbody>
            @for (item of displayedColumns3; track $index) {

              <tr class="cuerpo-fila">
                @for (ix of item; track $index) {
                  <td class="cuerpo-columna"  [attr.class]="ix.clase">{{ix.valor}}</td>
                }
              </tr>


            }

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
