table {
  position: relative;
}
.tabla-listado{
  position: absolute;
  overflow: auto;
  width: 100%;
}

table .cabecera-item-primera{
  min-width: 163px;
  padding: 4px 10px;
  font-size: 14px;
  background: #E9EFF3;
  color: #197aa4;
}

table .cabecera-item-segunda{
  min-width: 163px;
  padding: 4px 10px;
  font-size: 14px;
  background: #E9EFF3;
  color: #197aa4;
}

table .cuerpo-fila td{
  font-weight: 400;
  padding: 4px 10px;
  font-size: 14px;
  background: white;
  color: #565656;
}

table .cuerpo-fila td:nth-child(n+2){
text-align: center;
}

table .cuerpo-fila td.rojo{
  background: #fbdbe1 !important;
  color: #b82c46 !important;
}

table .cuerpo-fila td.verde{
  background: #d9f8eb !important;
  color: #00894f !important;
}

table{
  background: #cbcbcb;
}


.tabla-listado{
  position: relative;
  min-height: 250px;
}
