<mat-toolbar color="primary" class="color-estandar fondo-dark">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onToggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>DIRIS Lima Sur</span>
  <span class="example-spacer"></span>

  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  <shared-user-dropdown-menu></shared-user-dropdown-menu>
</mat-toolbar>
