.example-full-width {
  width: 100%;
}

.mat-mdc-form-field{
  width: 100%;
}

* .example-full-width{
  font-family: "Poppins", sans-serif !important;
}

.example-container {
  position: relative;

}

.example-table-container {
  position: relative;
  min-height: 200px;

  overflow: auto;
}

table {
  width: min-content;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
.mat-mdc-form-field-type-mat-date-range-input .mat-mdc-form-field-flex {
  height: 25px !important;
}

.disponibilidad-normostock{
  background-color: #dfffea;
  color: #17c653;
  font-weight: 600;
}

.disponibilidad-sobrestock{
  background-color: #e9f3ff;
  color: #1b84ff;
  font-weight: 600;
}


.disponibilidad-substock{
  background-color: #fff8dd;
  color: #f6c000;
  font-weight: 600;
}

.disponibilidad-sin,.cdk-header-row{
  background-color: #f9f9f9;
  color: #4b5675;
  font-weight: 600;
}
.disponibilidad-con.rotacion.saldo.sin{
  background-color: #f9f9f9;
  color: #4b5675;
  font-weight: 600;
}

.disponibilidad-desabastecido{
  background-color: #ffeef3;
  color: #f8285a;
  font-weight: 600;
}

table.tabla-ici{
  border-spacing: 2px !important;
}
