<div class="page-total">
  <div class="grid ventana">
    <div class="col-12">
      <br>
      <mat-accordion class="flex m-1">
        <mat-expansion-panel hideToggle  [expanded]="true"  style="width: 100%;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              FILTROS
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex ">
            <div class="col-3">
              <label for="nombre">Fecha:</label>
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="picker1" [formControl]="date"  [readonly]="true">
                <mat-datepicker-toggle [disabled]="true" matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-5">
              <app-combo-medicamento
              (medicamentoSeleccionado)="onMedicamentoSeleccionado($event)"
              ></app-combo-medicamento>
            </div>
          </div>
          <div class="grid">
            <button type="button" ngbtooltip="btn-light-success" (click)="consultarIciDiario()" class="btn btn-success">Buscar</button>

            <button mat-button type="button" class="btn btn-primary" [matMenuTriggerFor]="menu">Reporte <mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="generarExcel()">Excel</button>
            </mat-menu>
            <!-- <button >Generar Excel</button> -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="grid ventana" style="position: relative;"  *ngIf="hasSearched">
    <div class="col-12">

      <div class="text-center p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary ">
        @if (isLoadingResults == true) {
          <div class="example-loading-shade">
              <mat-spinner></mat-spinner>
          </div>
        }

        <div class="container-fluid container-width col-3 tabla-disponibilidad" >

          <table  style="width: 100%;">

            <thead>
              <tr style="background-color: #f9f9f9;color: #4b5675;">
                <th>RIS</th>
                <th>STOCK</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of datosAgrupados" style="background-color:#e9f3ff;color: #1b84ff;">
                <td>{{ item.ris }}</td>
                <td>{{ item.campo1 | number:'1.0-2' }}</td>
              </tr>
            </tbody>

          </table>

        </div>
        <div class="container-fluid container-width col-6">
          <h3>CONSUMO DE LOS ULTIMOS 12 MESES EESS GENERAL</h3>
          <div class="card">
            <p-chart type="line" [data]="data" [options]="chartOptions"  [style]="{'width': '100%'}"></p-chart>
           </div>
        </div>
        <div class="container-fluid container-width col-3 tabla-disponibilidad">
          <table style="width: 100%;">
            <tr style="background-color: #f9f9f9;color: #4b5675;">
              <th>DISPONIBILIDAD</th>
              <th>CONTEO</th>
            </tr>
            <tr style="background-color: #dfffea;color: #17c653;">
              <td >NORMOSTOCK</td>
              <td>{{ conteoCategorias['NORMOSTOCK'] }}</td>
            </tr>
            <tr  style="background-color:#e9f3ff;color: #1b84ff;">
              <td>SOBRESTOCK</td>
              <td>{{ conteoCategorias['SOBRESTOCK'] }}</td>
            </tr>
            <tr  style="background-color:#ffeef3;    color: #f8285a;">
              <td>DESABASTECIDO</td>
              <td>{{ conteoCategorias['DESABASTECIDO'] }}</td>
            </tr>
            <tr  style="background-color:#fff8dd;color:#f6c000">
              <td>SUBSTOCK</td>
              <td>{{ conteoCategorias['SUBSTOCK'] }}</td>
            </tr>
            <tr  style="background-color:#f9f9f9;color: #4b5675;">
              <td>SIN SALDO SIN ROTACION</td>
              <td>{{ conteoCategorias['SIN SALDO SIN ROTACION'] }}</td>
            </tr>
            <tr  style="background-color:#f9f9f9;color: #4b5675;">
              <td>CON SALDO SIN ROTACION</td>
              <td>{{ conteoCategorias['CON SALDO SIN ROTACION'] }}</td>
            </tr>
            <tr  style="background-color:#e9f3ff">
              <td>TOTAL</td>
              <td>{{ conteoCategorias['TOTAL'] }}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
    <div class="col-12">
      <div class="text-center p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary ">
        <section class="example-container mat-elevation-z0" tabindex="0">
          <table mat-table [dataSource]="dataSource" class="tabla-ici">

            <ng-container matColumnDef="id_almacen">
              <th mat-header-cell *matHeaderCellDef> Id Almacen </th>
              <td mat-cell *matCellDef="let element"> {{element.id_almacen}} </td>
            </ng-container>

            <ng-container matColumnDef="almacen">
              <th mat-header-cell *matHeaderCellDef> Almacen </th>
              <td mat-cell *matCellDef="let element"> {{element.almacen}} </td>
            </ng-container>

            <ng-container matColumnDef="id_medicamento">
              <th mat-header-cell *matHeaderCellDef> Id Medicamento </th>
              <td mat-cell *matCellDef="let element"> {{element.id_medicamento}} </td>
            </ng-container>

            <ng-container matColumnDef="medicamento">
              <th mat-header-cell *matHeaderCellDef> Medicamento </th>
              <td mat-cell *matCellDef="let element"> {{element.medicamento}} </td>
            </ng-container>

            <ng-container matColumnDef="tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo </th>
              <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
            </ng-container>

            <!-- Genera dinámicamente las columnas para las fechas -->
            <ng-container *ngFor="let columna of fechas; let i = index" [matColumnDef]="columna">
              <th mat-header-cell *matHeaderCellDef> {{ columna }} </th>
              <td mat-cell *matCellDef="let element"> {{ element["m"+(i+1)] }} </td> <!-- Valor por defecto si no hay datos -->
            </ng-container>

            <ng-container matColumnDef="campo1">
              <th mat-header-cell *matHeaderCellDef> Stock </th>
              <td mat-cell *matCellDef="let element"> {{element.campo1}} </td>
            </ng-container>

            <ng-container matColumnDef="cpma">
              <th mat-header-cell *matHeaderCellDef> CPMA </th>
              <td mat-cell *matCellDef="let element"> {{element.cpma}} </td>
            </ng-container>

            <ng-container matColumnDef="msd">
              <th mat-header-cell *matHeaderCellDef> MSD </th>
              <td mat-cell *matCellDef="let element"> {{element.msd}} </td>
            </ng-container>

            <ng-container matColumnDef="disponibilidad">
              <th mat-header-cell *matHeaderCellDef> Disponibilidad </th>
              <td mat-cell *matCellDef="let element"> {{element.disponibilidad}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="disponibilidad-{{row.disponibilidad | lowercase}}"></tr>
          </table>

        </section>
        <!-- <mat-paginator [pageSizeOptions]="[20,30,40]"></mat-paginator> -->

      </div>

    </div>
  </div>
</div>
