<div class="modal-supermodulo modal-crud">
  <mat-card class="formulario-modal ">
    <mat-card-header>
      <mat-card-title>{{data.titulo}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <section class="example-container" tabindex="0">
        @if (isLoadingResults) {
          <div class="example-loading-shade">
              <mat-spinner></mat-spinner>
          </div>
        }
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- id_medicamento Column -->
          <ng-container matColumnDef="id_medicamento">
            <th mat-header-cell *matHeaderCellDef> Id Medicamento </th>
            <td mat-cell *matCellDef="let element"> {{element.id_medicamento}} </td>
          </ng-container>

          <!-- medicamento Column -->
          <ng-container matColumnDef="medicamento">
            <th mat-header-cell *matHeaderCellDef> Medicamento </th>
            <td mat-cell *matCellDef="let element"> {{element.medicamento}} </td>
          </ng-container>

          <!-- stock Column -->
          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
    </mat-card-content>
    <mat-card-actions>

      <button  type="button" ngbtooltip="btn-light-Dark" class="btn btn-light-dark" (click)="onNoClick()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
</div>

