@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";


.mdc-snackbar__surface {
  background-color: #4CAF50 !important; /* Fondo verde */
  color: white; /* Texto blanco */
  border-radius: 8px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  padding: 10px 20px; /* Espaciado interno */
}

/* Opcional: Estilo para el botón 'ok' */
.custom-snackbar .mat-button {
  color: white;
  font-weight: bold;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-mdc-form-field{
  width: 100%;
}

* .example-full-width{
  font-family: "Poppins", sans-serif !important;
}

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  min-height: 200px;

  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

label{
  font-family: "Poppins", sans-serif !important;
}
.tablalibrodecontrol{
  overflow: auto;
  display: block;
  background: #cdcdcd;
}

.fuente>*,
.mat-mdc-card-subtitle,
.mat-mdc-card-title{
  font-family: "Poppins", sans-serif !important;
}


@media screen and (max-width: 960px) {
  button {
      width: 100%;
      margin-bottom: .5rem;
  }
}

:host ::ng-deep {
  .p-toast-message-custom {
      background-color: #E1CFE7;
      border: solid #8A427A;
      border-width: 0 0 0 6px;
      color: #2c1e30;
      .p-toast-icon-close {
          color: #2c1e30;
      }
  }
}


.mat-mdc-card-outlined{
  border-style: hidden;
}


section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


.mdc-fab--mini{
  border-radius: 10px !important;
}


.example-button-container{
  width: auto;
}

.mat-mdc-mini-fab.mat-success{
  --mdc-fab-small-container-color: #bc40ff;
  color: white;
}

a{
  height: 40px;
}
