<div class="grid">
  <div class="col-12">
    <div class="text-center p-3 border-round-sm bg-primary font-bold tarjeta tabla-listado contenedor-page">
      <div class="flex flex-row-reverse flex-wrap">
        <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" (click)="nuevaEvaluacion()">Crear Evaluación</button>

      </div>
      <section class="example-container mat-elevation-z0" tabindex="0">
      <table mat-table [dataSource]="dataSource">
        <!-- Definición de las columnas   ['id_supermodulo', 'nombre', 'ruta', 'estado', 'orden']-->
        <ng-container matColumnDef="id_evaluacion">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id_evaluacion}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>
        <ng-container matColumnDef="acciones">

          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element" class="botones-tabla">
            <section>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <div *ngIf="element.estado == 'CREADO'"  class="example-button-container">
                    <button  type="button" ngbtooltip="btn-light-warning" class="btn btn-warning" (click)="editar_evaluacion(element.id_evaluacion)">
                      Editar evaluación
                    </button>
                  </div>
                  <div  *ngIf="element.estado == 'INICIADO'"   class="example-button-container">
                    <button  type="button" ngbtooltip="btn-light-warning" class="btn btn-warning" (click)="cerrar_evaluacion(element.id_evaluacion)">
                      Cerrar evaluación
                    </button>
                  </div>
                  <div  *ngIf="element.estado == 'INICIADO'"   class="example-button-container">
                    <button type="button" class="btn btn-info" (click)="ver_qr(element.id_evaluacion)">
                      Ver QR
                    </button>
                  </div>
                  <div *ngIf="element.estado == 'CERRADO'" class="example-button-container">
                    <button type="button" class="btn btn-info" (click)="corregir_evaluacion(element.id_evaluacion)">
                      Corregir preguntas abiertas
                    </button>
                  </div>
                  <div  *ngIf="element.estado == 'FINALIZADO'" class="example-button-container">
                    <button type="button" class="btn btn-info" (click)="resultado_evaluacion(element.id_evaluacion)">
                      Ver resultados
                    </button>
                  </div>
                  <div *ngIf="element.estado == 'INICIADO'"  class="example-button-container">
                    <button type="button"  class="btn btn-primary" (click)="ruta_evaluacion(element.id_evaluacion)">
                      Ir a la evaluación
                    </button>
                  </div>
                </div>
              </div>
            </section>
            <!-- <button mat-icon-button color="primary" class="boton-eliminar" (click)="editarSupermodulo(element)">
              <mat-icon>edit</mat-icon>
            </button> -->
            <!-- <button mat-icon-button color="warn" (click)="abrirDialogoEliminar(element)">
              <mat-icon>delete</mat-icon>
            </button> -->
          </td>

        </ng-container>
        <!-- Agregar más columnas según sea necesario -->

        <!-- Encabezado de la tabla -->
        <tr mat-header-row *matHeaderRowDef="supermoduloColumnas"></tr>
        <!-- Fila de datos de la tabla -->
        <tr mat-row *matRowDef="let row; columns: supermoduloColumnas;"></tr>
      </table>
      </section>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>
</div>
<div>

</div>
