<div class="page-total">
  <div class="grid ventana">
    <div class="col-12">
      <br>
      <mat-accordion class="flex m-1">
        <mat-expansion-panel [expanded]="true" style="width: 100%;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              FILTROS
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex ">

            <div class="col-3">
              <app-combo-almacen

              [AlmacenTipo]="AlmacenTipo"
              (almacenSeleccionado)="onAlmacenSeleccionado($event)"
              ></app-combo-almacen>
            </div>
            <div class="col-9">
              <app-combo-medicamento (medicamentoSeleccionado)="onMedicamentoSeleccionado($event)"/>
            </div>

          </div>
          <div class="flex">
            <div class="col-3">
              <label for="nombre">Rango de fechas:</label>
              <mat-form-field class="example-full-width">
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="inicio" placeholder="Fecha de inicio">
                  <input matEndDate formControlName="fin" placeholder="Fecha de fin">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint> <!-- Texto de ayuda -->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>

            </div>
            <div class="form-group col-3 text-left">
              <label for="tipo">Tipo:</label>
              <mat-form-field>
                <mat-select [(ngModel)]="selectedTipo" name="tipo">
                  <mat-option >TODOS</mat-option>
                  <mat-option value="S">SALIDA</mat-option>
                  <mat-option value="E">ENTRADA</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="grid">
            <button type="button" ngbtooltip="btn-light-success" class="btn btn-success"  (click)="buscarMovimientos()">Buscar</button>
            <button mat-button type="button" class="btn btn-primary" [matMenuTriggerFor]="menu">Reporte <mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="generarExcel()">Excel</button>
              <button mat-menu-item (click)="generarPDF()">PDF</button>
            </mat-menu>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>


  <div class="grid ventana">
    <div class="col-12">
      <div class="text-center p-3 border-round-sm font-bold tarjeta tabla-listado bg-primary " style="position: relative;">

        <div class="text-center p-3 border-round-sm font-bold tarjeta tabla-listado bg-primary " style="position: relative;">
          @if (isLoadingResults) {
            <div class="example-loading-shade">
                <mat-spinner></mat-spinner>
            </div>
          }

          <div class="example-table-container">

            <table mat-table [dataSource]="dataSource" class="example-table mat-elevation-z8"
                  matSort matSortActive="ris" matSortDisableClear matSortDirection="desc">


              <ng-container matColumnDef="codigo_establecimiento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Establecimiento</th>
                <td mat-cell *matCellDef="let row">{{row.codigo_establecimiento}}</td>
              </ng-container>
              <ng-container matColumnDef="nombre_establecimiento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Origen</th>
                <td mat-cell *matCellDef="let row">{{row.nombre_establecimiento}}</td>
              </ng-container>
              <ng-container matColumnDef="movfechreg">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Registro</th>
                <td mat-cell *matCellDef="let row">{{row.movfechreg}}</td>
              </ng-container>
              <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora Registro</th>
                <td mat-cell *matCellDef="let row">{{row.hora}}</td>
              </ng-container>
              <ng-container matColumnDef="movcoditip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                <td mat-cell *matCellDef="let row">{{row.movcoditip}}</td>
              </ng-container>
              <ng-container matColumnDef="tipodoc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>TD</th>
                <td mat-cell *matCellDef="let row">{{row.tipodoc}}</td>
              </ng-container>
              <ng-container matColumnDef="movnumedco">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 140px;">Nro.</th>
                <td mat-cell *matCellDef="let row" style="min-width: 140px;">{{row.movnumedco}}</td>
              </ng-container>

              <ng-container matColumnDef="codigo_medicamento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 140px;">Codigo Medicamento</th>
                <td mat-cell *matCellDef="let row" style="max-width: 140px;">{{row.codigo_medicamento}}</td>
              </ng-container>
              <ng-container matColumnDef="nombre_medicamento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Medicamento</th>
                <td mat-cell *matCellDef="let row">{{row.nombre_medicamento}}</td>
              </ng-container>
              <ng-container matColumnDef="destino">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Destino</th>
                <td mat-cell *matCellDef="let row">{{row.destino}}</td>
              </ng-container>
              <ng-container matColumnDef="movcantid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                <td mat-cell *matCellDef="let row">{{row.movcantid}}</td>
              </ng-container>
              <ng-container matColumnDef="movsitua">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sit</th>
                <td mat-cell *matCellDef="let row">{{row.movsitua}}</td>
              </ng-container>
              <ng-container matColumnDef="movrefe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Referencia</th>
                <td mat-cell *matCellDef="let row">{{row.movrefe}}</td>
              </ng-container>
              <ng-container matColumnDef="usrdescrip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
                <td mat-cell *matCellDef="let row">{{row.usrdescrip}}</td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
          </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"  [length]="resultsLength"></mat-paginator>
          <!-- <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>-->
        </div>

      </div>
    </div>
  </div>

</div>
