<div class="modal-supermodulo modal-crud">
  <mat-card class="formulario-modal">
    <mat-card-header>
      <mat-card-title>INDICADORES POR ESTABLECIMIENTO</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="mat-elevation-z8 grid">
        <div class="col-4">
          <app-grafico-ici-diario [chartOptions]="chartOptions"></app-grafico-ici-diario>
        </div>
        <div class="col-6 col-offset-1">
          <table class="table-resumen" style="width: 100%;">
            <thead>
              <tr>
                <th colspan="2">Resumen</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="mat-mdc-cell">FECHA</td>
                <td>{{ this.fecha.value | date: 'dd/MM/yyyy' }}</td>
              </tr>
              <tr>
                <td>ESTABLECIMIENTOS</td>
                <td>{{ this.cantidad }}</td>
              </tr>
              <tr>
                <td>DISPONIBILIDAD</td>
                <td>{{resumen.disponibilidad}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="mat-elevation-z8 example-container div-ici-consolidado"  style="position: relative;">


        <table mat-table [dataSource]="dataSource" matSort class="ici-consolidado">


          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" class="columna-medicamento text-center">Id</th>
          </ng-container>
          <ng-container matColumnDef="Establecimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" class="columna-medicamento text-center">Establecimiento</th>
          </ng-container>
          <ng-container matColumnDef="Items">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" class="columna-medicamento text-center">Items</th>
          </ng-container>
          <ng-container matColumnDef="Sobrestock">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="columna-medicamento text-center">Sobrestock</th>
          </ng-container>
          <ng-container matColumnDef="Normostock">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2" class="columna-medicamento text-center">Normostock</th>
          </ng-container>
          <ng-container matColumnDef="Substock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.colspan]="2" class="columna-medicamento text-center">Substock</th>
          </ng-container>
          <ng-container matColumnDef="Desabastecido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.colspan]="2" class="columna-medicamento text-center">Desabastecido</th>
          </ng-container>
          <ng-container matColumnDef="Disponibilidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" class="columna-medicamento text-center">Disponibilidad</th>
          </ng-container>
          <ng-container matColumnDef="Nivel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2" class="columna-medicamento text-center">Nivel</th>
          </ng-container>



          <ng-container matColumnDef="cod_almacen">
            <th mat-header-cell *matHeaderCellDef   [ngStyle]="{'display': 'none'}">cod_almacen</th>
            <td mat-cell *matCellDef="let element"  class="columna-medicamento text-center"> {{element.cod_almacen}} </td>
          </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="id_almacen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  [ngStyle]="{'display': 'none'}">id_almacen</th>
            <td mat-cell *matCellDef="let row"  class="columna-medicamento text-center">{{row.id_almacen}}</td>
          </ng-container>

          <!-- Almacen Column -->
          <ng-container matColumnDef="almacen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  [ngStyle]="{'display': 'none'}">almacen</th>
            <td mat-cell *matCellDef="let row">{{row.almacen}}</td>
          </ng-container>

          <!-- Total Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  [ngStyle]="{'display': 'none'}">total</th>
            <td mat-cell *matCellDef="let row"  class="columna-medicamento text-center">{{row.total}}</td>
          </ng-container>

          <!-- Sobrestock Column -->
          <ng-container matColumnDef="sobrestock">
            <th mat-header-cell *matHeaderCellDef class="columna-medicamento text-center">Cant</th>
            <td mat-cell *matCellDef="let row"  class="columna-medicamento text-center">{{row.sobrestock}}</td>
          </ng-container>

          <ng-container matColumnDef="sobrestockporc">
            <th mat-header-cell *matHeaderCellDef class="columna-medicamento text-center">%</th>
            <td mat-cell *matCellDef="let row"  class="columna-medicamento text-center">{{row.sobrestockporc}}</td>
          </ng-container>

          <!-- Normostock Column -->
          <ng-container matColumnDef="normostock">
            <th mat-header-cell *matHeaderCellDef class="columna-medicamento text-center">Cant</th>
            <td mat-cell *matCellDef="let row"  class="columna-medicamento text-center">{{row.normostock}}</td>
          </ng-container>

          <ng-container matColumnDef="normostockporc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-medicamento text-center">%</th>
            <td mat-cell *matCellDef="let row">{{row.normostockporc}}</td>
          </ng-container>

          <!-- Substock Column -->
          <ng-container matColumnDef="substock">
            <th mat-header-cell *matHeaderCellDef class="columna-medicamento text-center">Cant</th>
            <td mat-cell *matCellDef="let row">{{row.substock}}</td>
          </ng-container>

          <ng-container matColumnDef="substockporc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-medicamento text-center">%</th>
            <td mat-cell *matCellDef="let row">{{row.substockporc}}</td>
          </ng-container>

          <!-- Desabastecido Column -->
          <ng-container matColumnDef="desabastecido">
            <th mat-header-cell *matHeaderCellDef class="columna-medicamento text-center">Cant</th>
            <td mat-cell *matCellDef="let row">{{row.desabastecido}}</td>
          </ng-container>

          <ng-container matColumnDef="desabastecidoporc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-medicamento text-center">%</th>
            <td mat-cell *matCellDef="let row">{{row.desabastecidoporc}}</td>
          </ng-container>

          <!-- Disponibilidad Column -->
          <ng-container matColumnDef="disponibilidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  [ngStyle]="{'display': 'none'}">disponibilidad</th>
            <td mat-cell *matCellDef="let row">{{row.disponibilidad}}</td>
          </ng-container>

          <ng-container matColumnDef="nivel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  [ngStyle]="{'display': 'none'}">nivel</th>
            <td mat-cell *matCellDef="let row">{{row.nivel}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['Id','Establecimiento','Items','Sobrestock','Normostock','Substock','Desabastecido','Disponibilidad','Nivel']"></tr>
          <tr mat-header-row *matHeaderRowDef="iciColumnas2"></tr>
          <tr mat-row *matRowDef="let row; columns: iciColumnas2;" class="nivel-{{row.nivel | lowercase}}"></tr>

        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
