<label>Supermodulo: </label>
<mat-form-field class="combo-supermodulo combo-estandar">

  <mat-select [formControl]="selected">
    <mat-option>Clear</mat-option>
    <mat-option value="valid">Valid option</mat-option>
    <mat-option value="invalid">Invalid option</mat-option>
  </mat-select>
</mat-form-field>
