<div class="page-total">
  <div class="grid ventana">

  </div>

  <div class="grid ventana">
    <div class="col-12">
      <div class="text-center p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary ">

        <div class="flex flex-row-reverse flex-wrap col-12">
          <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" (click)="abrirFormulario()">Agregar Submodulo</button>

        </div>
        <div class="col-12">
          <br>
          <mat-accordion class="flex m-1">
            <mat-expansion-panel hideToggle style="width: 100%;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  FILTROS
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="grid">
                <div class="form-group field  xl:col-3  lg:col-3 md:col-6 sm:col-12 text-left">
                  <app-combo-supermodulo
                    (supermoduloSeleccionado)="onSupermoduloSeleccionado($event)
                   ">
                  </app-combo-supermodulo>
                </div>
                <div class="form-group xl:col-3  lg:col-3 md:col-6 sm:col-12 text-left">
                  <app-combo-modulo
                  [supermoduloSeleccionado]="selectedSupermodulo"
                  (moduloSeleccionado)="onModuloSeleccionado($event)">
                  </app-combo-modulo>
                </div>
                <div class="form-group xl:col-3  lg:col-3 md:col-6 sm:col-12 text-left">
                  <label for="estado">Estado:</label>
                  <mat-form-field>
                    <mat-select [(ngModel)]="selectedEstado" name="estado">
                      <mat-option >TODOS</mat-option>
                      <mat-option value="true">ACTIVOS</mat-option>
                      <mat-option value="false">INACTIVOS</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="grid">
                <button type="button" ngbtooltip="btn-light-success" class="btn btn-success" (click)="buscarFiltrado()">Buscar</button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <section class="example-container mat-elevation-z0" tabindex="0">
          <table mat-table [dataSource]="dataSource" cdkDropList>

            <ng-container matColumnDef="id_submodulo">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id_submodulo}} </td>
            </ng-container>
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="ruta">
              <th mat-header-cell *matHeaderCellDef> Ruta </th>
              <td mat-cell *matCellDef="let element"> {{element.ruta}} </td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripcion </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
            <ng-container matColumnDef="modulo">
              <th mat-header-cell *matHeaderCellDef> Modulo </th>
              <td mat-cell *matCellDef="let element"> {{element.modulo.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="supermodulo">
              <th mat-header-cell *matHeaderCellDef> Supermodulo </th>
              <td mat-cell *matCellDef="let element"> {{element.modulo.supermodulo.nombre}} </td>
            </ng-container>
            <ng-container matColumnDef="almacenes">
              <th mat-header-cell *matHeaderCellDef> Almacenes </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <ng-container *ngIf="element.almacenes; else elseBlock">
                  <div class="activo-tabla" >Activo</div>
                </ng-container>
                <ng-template #elseBlock>
                  <div class="inactivo-tabla">Inactivo</div>
                </ng-template>
              </td>
              <!-- <td mat-cell *matCellDef="let element"> {{element.almacenes}} </td> -->
            </ng-container>
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>

              <td mat-cell *matCellDef="let element; let i = index">
                <ng-container *ngIf="element.estado; else elseBlock">
                  <div class="activo-tabla" >Activo</div>
                </ng-container>
                <ng-template #elseBlock>
                  <div class="inactivo-tabla">Inactivo</div>
                </ng-template>
              </td>
            </ng-container>
            <ng-container matColumnDef="acciones">

              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element" class="botones-tabla">
                <button mat-icon-button
                color="primary"
                (click)="editarSubmodulo(element)"
                class="boton-eliminar boton-eliminar mdc-icon-button mat-mdc-icon-button mat-primary mat-mdc-button-base">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn"
                (click)="abrirDialogoEliminar(element)"
                class="mdc-icon-button mat-mdc-icon-button mat-warn mat-mdc-button-base">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>

            </ng-container>
            <!-- Agregar más columnas según sea necesario -->

            <!-- Encabezado de la tabla -->
            <tr mat-header-row *matHeaderRowDef="submoduloColumnas"></tr>
            <!-- Fila de datos de la tabla -->
            <tr mat-row *matRowDef="let row; columns: submoduloColumnas;"></tr>
          </table>
        </section>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

      </div>

    </div>
  </div>
</div>
