table .cabecera-item-primera{
  min-width: 163px;
  padding: 4px 10px;
  font-size: 14px;
  background: #E9EFF3;
  color: #197aa4;
}

table .cuerpo-fila td{
  font-weight: 400;
  padding: 4px 10px;
  font-size: 14px;
  background: white;
  color: #565656;
}

table{
  background: #cbcbcb;
}
