<table id="tabla">
  <thead>
    <tr>
      @for (ix of headPrimeraLinea; track $index) {
        <th class="cabecera-item-primera ng-star-inserted"  [attr.colspan]="ix.colspan" [attr.rowspan]="ix.rowspan">{{ix.valor}}</th>
      }
    </tr>
    <tr>
      @for (ix of headSegundaLinea; track $index) {
        <th class="cabecera-item-primera ng-star-inserted"  [attr.colspan]="ix.colspan" [attr.rowspan]="ix.rowspan">{{ix.valor}}</th>
      }
    </tr>
    <tr>
      @for (ix of headTerceraLinea; track $index) {
        <th class="cabecera-item-primera ng-star-inserted"  [attr.colspan]="ix.colspan" [attr.rowspan]="ix.rowspan">{{ix.valor}}</th>
      }
    </tr>
    <tr>
      @for (ix of headCuartaLinea; track $index) {
        <th class="cabecera-item-primera ng-star-inserted"  [attr.colspan]="ix.colspan" [attr.rowspan]="ix.rowspan">{{ix.valor}}</th>
      }
    </tr>
  </thead>
  <tbody>

    @for (item of data; track data; let i = $index) {
      <tr class="cuerpo-fila ng-star-inserted">
        @for (ix of cabecera; track cabecera; let s = $index) {

            @if (s > 3) {

              @if (s % 2 == 0) {

                @if (item[ix] == 0) {
                  <td style='text-align: center;background:#f7f7f7'>
                  </td>
                  {{activalo()}}
                  {{asignarMinimo(0)}}
                } @else {
                  <td style='text-align: center'>
                    {{item[ix]}}
                  </td>
                  {{desactivalo()}}
                  {{asignarMinimo(item[ix])}}
                }

              } @else{

                @if (blanco == false) {

                  @if (minimo>item[ix]) {
                    <td style='background: #fbdbe1 !important; color: #b82c46 !important;'>
                      {{item[ix]}}</td>
                    {{activalo()}}
                  }@else {
                    <td style='background: #d9f8eb !important;color: #00894f !important;'>
                      {{item[ix]}}</td>
                    {{activalo()}}
                  }


                }@else{
                  <td style='text-align: center;background:#f7f7f7'>
                  </td>
                  {{activalo()}}
                }

              }

            } @else {
              <td class="ng-star-inserted">
              {{item[ix]}}
              </td>
            }
        }

      </tr>
    }
  </tbody>


</table>

