<div class="grid">
  <div class="col-12">
    <div class="text-center p-3 border-round-sm bg-primary font-bold tarjeta tabla-listado contenedor-page">

      <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" (click)="verStockVerificar()">
        Verificar Stock
      </button>

      <p>listar-verificador-page works!</p>
    </div>
  </div>
</div>
