<div class="page-total">
  <div class="grid ventana">
    <div class="col-12">
      <div class="border-round-sm font-bold tarjeta tabla-listado bg-primary " style="position: relative;">
        <div *ngIf="isLoadingResults" class="example-loading-shade">
          <mat-spinner></mat-spinner>
        </div>
        <table mat-table [dataSource]="data" class="example-table mat-elevation-z8"
        matSort matSortActive="nombre_almacen_1" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="cod_almacen_1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">CODIGO ALMACEN</th>
        </ng-container>
        <ng-container matColumnDef="nombre_almacen_1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">NOMBRE ALMACEN</th>
        </ng-container>
        <ng-container matColumnDef="cantidad_total_1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">TOTAL</th>
        </ng-container>
        <ng-container matColumnDef="medicamento_1">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"  class="columna-medicamento text-center">MEDICAMENTO</th>
        </ng-container>
        <ng-container matColumnDef="insumo_1">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="3"  class="columna-insumo text-center">INSUMO</th>
        </ng-container>
        <ng-container matColumnDef="fecha_1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">FECHA ACTUALIZADA</th>
        </ng-container>

          <ng-container matColumnDef="cod_almacen">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{'display': 'none'}">cod_almacen</th>
            <td mat-cell *matCellDef="let element"> {{element.cod_almacen}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre_almacen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">NOMBRE_ALMACEN</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_almacen}} </td>
          </ng-container>

          <ng-container matColumnDef="cantidad_total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}">CANTIDAD_TOTAL</th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad_total}} </td>
          </ng-container>

          <ng-container matColumnDef="cantidad_medicamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-medicamento text-center">TOTAL</th>
            <td mat-cell *matCellDef="let element" class="columna-medicamento text-center">
              <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary">{{element.cantidad_medicamento}}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="con_stock_medicamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-medicamento text-center"> CON STOCK </th>
            <td mat-cell *matCellDef="let element" class="columna-medicamento text-center">
              <button
              (click)="abrirModal('MEDICAMENTO CON STOCK',element.cod_almacen,true,true)"
              type="button" ngbtooltip="btn-light-primary" class="btn btn-success">{{element.con_stock_medicamento}}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="sin_stock_medicamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-medicamento text-center"> SIN STOCK </th>
            <td mat-cell *matCellDef="let element" class="columna-medicamento text-center">
              <button
              (click)="abrirModal('MEDICAMENTO SIN STOCK',element.cod_almacen,true,false)"
              type="button" ngbtooltip="btn-light-primary" class="btn btn-danger">{{element.sin_stock_medicamento}}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="cantidad_insumo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-insumo text-center">TOTAL</th>
            <td mat-cell *matCellDef="let element" class="columna-insumo text-center">
              <button type="button" ngbtooltip="btn-light-success" class="btn btn-success">{{element.cantidad_insumo}}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="con_stock_insumo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-insumo text-center"> CON STOCK </th>
            <td mat-cell *matCellDef="let element" class="columna-insumo text-center">
              <button
              (click)="abrirModal('INSUMOS CON STOCK',element.cod_almacen,false,true)"
              type="button" ngbtooltip="btn-light-primary" class="btn btn-primary">{{element.con_stock_insumo}}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="sin_stock_insumo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="columna-insumo text-center"> SIN STOCK </th>
            <td mat-cell *matCellDef="let element" class="columna-insumo text-center">
              <button
              (click)="abrirModal('INSUMOS SIN STOCK',element.cod_almacen,false,false)"
              type="button" ngbtooltip="btn-light-danger" class="btn btn-danger">{{element.sin_stock_insumo}}</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'display': 'none'}"> fecha </th>
            <td mat-cell *matCellDef="let element" [ngStyle]="obtenerColorCelda(element.fecha)"> {{element.fecha}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['cod_almacen_1','nombre_almacen_1','cantidad_total_1','medicamento_1','insumo_1','fecha_1']"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

        </table>
      </div>
    </div>
  </div>
</div>
