.columna-medicamento{
  background-color: rgb(0 158 251 / 19%) !important
}

.columna-insumo{
  background-color: #c6ffda !important
}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
