<label for="nombre">Almacen:</label>
<mat-form-field class="example-full-width">
  <input type="text"
         aria-label="Number"
         matInput
         [formControl]="myControl"
         [matAutocomplete]="auto"
         (input)="onInput($event)"
         >
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option.id_almacen}} - {{option.nombre}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
