<div class="wrapper wrapper-full-page"
      style="
        width: 100%;
        display: flex;
        background-color: rgb(30,136,229);
        ">
    <div style="width: 30%;">
      <div
      style="font-family: 'Poppins', sans-serif !important;
      color: white;
      width: 60%;
      top:40%;
      position: relative;
      margin: auto;
      "
      >
        <span style="font-size: 25px;
        width: 100%;
        display: block;
        ">Dirección de Medicamentos Insumos y Drogas (DMID)</span>
        <span style="font-size: 20px;
        width: 100%;
        display: block;
        ">DIRIS Lima Sur</span>
      </div>

    </div>
    <div filter-color="black" class="page-header login-page header-filter"
    style="background-image: url('assets/diris_lima_sur.jpg'); background-size: cover; background-position: center center;
    width: 70%;
    ">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                    <form [formGroup]="loginForm" class="form ng-untouched ng-pristine ng-valid">
                        <div class="card card-login">
                            <div class="card-header card-header-success text-center">
                                <h4 class="card-title">Iniciar Sesión</h4>
                            </div>
                            <div class="card-body">
                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">email</i>
                                            </span>
                                        </div>
                                        <input type="email" placeholder="Correo" class="form-control" id="correo_electronico" formControlName="correo_electronico">
                                    </div>
                                </span>
                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input type="password" placeholder="Contraseña" class="form-control" id="password" formControlName="password">
                                    </div>
                                </span>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a (click)="onLogin();" class="btn btn-success btn-link btn-lg">Ingresar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
