<div class="page-total">
  <div *ngFor="let preguntasAbierta of preguntasAbiertas" class="grid ventana">
    <div class="col-10 col-offset-1">
      <div class="p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">
        <h2>{{ preguntasAbierta.pregunta }}</h2>
        <table class="ng-star-inserted">
          <thead>
            <tr class="cabecera-primera">
              <th class="cabecera-item-primera ng-star-inserted">N°</th>
              <th class="cabecera-item-primera ng-star-inserted apellido">Apellidos y Nombres</th>
              <th class="cabecera-item-primera ng-star-inserted respuesta">Respuesta</th>
              <th class="cabecera-item-primera ng-star-inserted correccion">Correcto</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cuerpo-fila ng-star-inserted" *ngFor="let persona_respuesta of preguntasAbierta.persona_respuestas; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{persona_respuesta.ape_paterno }} {{persona_respuesta.ape_materno}}, {{persona_respuesta.nombres}}</td>
              <td>{{persona_respuesta.respuesta_texto_persona}}</td>
              <td>
                <mat-form-field>
                  <mat-select name="correccion"  [(ngModel)]="persona_respuesta.correccion">
                    <mat-option value="">--seleccionar--</mat-option>
                    <mat-option [value]="true">Correcto</mat-option>
                    <mat-option [value]="false">Incorrecto</mat-option>
                  </mat-select>
                </mat-form-field>


              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="grid ventana">
    <div class="col-10 col-offset-1">
      <div class="p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">
        <div *ngIf="!isCorreccionesCompletas()" class="alert alert-warning">
          <strong>Advertencia:</strong> Debes corregir todas las respuestas antes de guardar.
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-light-danger" (click)="regresar()">Cancelar</button>
          <button type="button" class="btn btn-light-success" (click)="guardarPreguntasAbiertasCorregidas()">Guardar</button>

          <button type="button" class="btn btn-light-success" [disabled]="!isCorreccionesCompletas()" (click)="guardarCorrecionyContinuar()">Guardar y calcular</button>
        </div>
      </div>
    </div>
  </div>

</div>
<p-toast position="bottom-center" key="bc"></p-toast>
