:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --plomo-oscuro-color: #15171c,
  --letra-ploma: #9fa0a1,
}

.mat-mdc-menu-content {
  padding: 0px !important;
}

