
<mat-label>Maestra Categoria</mat-label>
<mat-form-field>
  <mat-select [formControl]="MaestraCategoriaControl" name="maestra_categoria" (selectionChange)="onSelectionChange($event)">
    <mat-option *ngFor="let option of cargarCategorias" [value]="option">{{ option.nombre }} {{option.almacen_categoria}}</mat-option>
  </mat-select>
</mat-form-field>

