
<button mat-button [matMenuTriggerFor]="afterMenu" *ngIf="usuario">{{ usuario.persona.nombres | firstLetter }}</button>
<mat-menu  #afterMenu="matMenu" xPosition="after" class="quitar-padding">
  <mat-card class="example-card">
    <mat-card-header>
      <!--<div mat-card-avatar [ngStyle]="{'background-image': 'url(' + usuario.imagen_perfil + ')'}" class="example-header-image"></div>-->
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + (usuario?.imagen_perfil || 'default-image-url') + ')'}" class="example-header-image"></div>

      <mat-card-title *ngIf="usuario">{{ usuario.persona.nombres | uppercase }}</mat-card-title>
      <mat-card-subtitle *ngIf="usuario">{{ usuario.correo_electronico }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>

      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="logout();" mat-button>CERRAR SESION</button>
    </mat-card-actions>
  </mat-card>
</mat-menu>
