<div class="page-total">
  <div class="grid ventana">
    <div class="col-12">
      <br>
      <mat-accordion class="flex m-1">
        <mat-expansion-panel [expanded]="true"  style="width: 100%;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              FILTROS
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex ">
            <div class="col-3">
              <app-combo-ris
              (risSeleccionado)="onRisSeleccionado($event)"
              />
            </div>
            <div class="col-3">
              <app-combo-almacen-autocompletado
              [risSeleccionado]="selectedRis"
              (almacenSeleccionado)="onAlmacenSeleccionado($event)"
              ></app-combo-almacen-autocompletado>
            </div>
            <div class="col-6">
              <app-combo-medicamento (medicamentoSeleccionado)="onMedicamentoSeleccionado($event)"/>
            </div>
          </div>
          <div class="flex">
            <div class="col-3">
              <label for="nombre">Rango de fechas:</label>
              <mat-form-field class="example-full-width">
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="inicio" placeholder="Fecha de inicio">
                  <input matEndDate formControlName="fin" placeholder="Fecha de fin">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint> <!-- Texto de ayuda -->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>

            </div>
          </div>
          <div class="grid">
            <button type="button" ngbtooltip="btn-light-success" class="btn btn-success" (click)="buscarLotesPorVencer()">Buscar</button>
            <button mat-button type="button" class="btn btn-primary" [matMenuTriggerFor]="menu">Reporte <mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="generarExcel()">Excel</button>
              <button mat-menu-item (click)="generarPDF()">PDF</button>
            </mat-menu>            <!-- <button >Generar Excel</button> -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>


  <div class="grid ventana">
    <div class="col-12">
      <div class="text-center p-3 border-round-sm font-bold tarjeta tabla-listado bg-primary " style="position: relative;">
        @if (isLoadingResults) {
          <div class="example-loading-shade">
              <mat-spinner></mat-spinner>
          </div>
        }

        <div class="example-table-container">

          <table mat-table [dataSource]="dataSource" class="example-table mat-elevation-z8"
                matSort matSortActive="ris" matSortDisableClear matSortDirection="desc">

            <ng-container matColumnDef="ris">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>RIS</th>
              <td mat-cell *matCellDef="let row">{{row.ris}}</td>
            </ng-container>
            <ng-container matColumnDef="codigo_establecimiento">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Establecimiento</th>
              <td mat-cell *matCellDef="let row">{{row.codigo_establecimiento}}</td>
            </ng-container>
            <ng-container matColumnDef="nombre_establecimiento">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Establecimiento</th>
              <td mat-cell *matCellDef="let row">{{row.nombre_establecimiento}}</td>
            </ng-container>
            <ng-container matColumnDef="codigo_medicamento">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Medicamento</th>
              <td mat-cell *matCellDef="let row">{{row.codigo_medicamento}}</td>
            </ng-container>
            <ng-container matColumnDef="nombre_medicamento">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Medicamento</th>
              <td mat-cell *matCellDef="let row">{{row.nombre_medicamento}}</td>
            </ng-container>
            <ng-container matColumnDef="lote">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Lote</th>
              <td mat-cell *matCellDef="let row">{{row.lote}}</td>
            </ng-container>
            <ng-container matColumnDef="stock">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
              <td mat-cell *matCellDef="let row">{{row.stock}}</td>
            </ng-container>
            <ng-container matColumnDef="fecha_vto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Vencimiento</th>
              <td mat-cell *matCellDef="let row">{{row.fecha_vto}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"  [length]="resultsLength"></mat-paginator>
        <!-- <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>-->
      </div>
    </div>
  </div>

</div>
