<div class="page-total">
  <div  class="grid ventana">
    <div class="col-6 col-offset-3">
      <div class="p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">
        <div class="col-12">{{rutaQr}}</div>
        <div class="qrcodeImage col-12" style="text-align: center;">
          <qrcode [qrdata]="rutaQr" [width]="500" [errorCorrectionLevel]="'M'"  [allowEmptyString]="true"></qrcode>
        </div>
        <div class="col-12">
          <div class="flex flex-row-reverse flex-wrap">
            <button type="button" class="btn btn-danger" (click)="regresar()">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

