@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";


.mdc-snackbar__surface {
  background-color: #4CAF50 !important; /* Fondo verde */
  color: white; /* Texto blanco */
  border-radius: 8px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  padding: 10px 20px; /* Espaciado interno */
}

/* Opcional: Estilo para el botón 'ok' */
.custom-snackbar .mat-button {
  color: white;
  font-weight: bold;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-mdc-form-field{
  width: 100%;
}

* .example-full-width{
  font-family: "Poppins", sans-serif !important;
}

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  min-height: 200px;

  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

label{
  font-family: "Poppins", sans-serif !important;
}
.tablalibrodecontrol{
  overflow: auto;
  display: block;
  background: #cdcdcd;
}

.fuente>*,
.mat-mdc-card-subtitle,
.mat-mdc-card-title{
  font-family: "Poppins", sans-serif !important;
}


@media screen and (max-width: 960px) {
  button {
      width: 100%;
      margin-bottom: .5rem;
  }
}

:host ::ng-deep {
  .p-toast-message-custom {
      background-color: #E1CFE7;
      border: solid #8A427A;
      border-width: 0 0 0 6px;
      color: #2c1e30;
      .p-toast-icon-close {
          color: #2c1e30;
      }
  }
}


.mat-mdc-card-outlined{
  border-style: hidden;
}




table {
  position: relative;
}
.tabla-listado{
  position: relative;
  overflow: auto;
  width: 100%;
}

table .cabecera-item-primera{

  padding: 4px 10px;
  font-size: 14px;
  background: #E9EFF3;
  color: #197aa4;
}

table .cabecera-item-segunda{
  min-width: 163px;
  padding: 4px 10px;
  font-size: 14px;
  background: #E9EFF3;
  color: #197aa4;
}

table .cuerpo-fila td{
  font-weight: 400;
  padding: 4px 10px;
  font-size: 14px;
  background: white;
  color: #565656;
}

table .cuerpo-fila td:nth-child(n+2){
text-align: center;
}

table .cuerpo-fila td.rojo{
  background: #fbdbe1 !important;
  color: #b82c46 !important;
}

table .cuerpo-fila td.verde{
  background: #d9f8eb !important;
  color: #00894f !important;
}

table{
  background: #cbcbcb;
}


table .respuesta{
  width: 50rem;
}

table .correccion{
  width: 150px;
}

table .apellido{
  width: 45rem;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #ffeeba;
  border-radius: 5px;
  width: 100%;
}

/* Estilo para el botón guardado deshabilitado */
button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
