/* Contenedor de la vista previa de la imagen */
.preview-container {
  position: relative;
  margin-bottom: 10px;
}

/* Imagen de vista previa */
.preview-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 8px; /* Opcional: Bordes redondeados */
}

/* Estilo para el botón de eliminación */
.remove-image-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #747474;
  color: #a5a5a5;
  border: none;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.remove-image-button:hover {
  background-color: darkred;
}

/* Contenedor de carga de archivo */
.file-upload {
  position: relative;
  display: inline-block;
}

/* Oculta el input de tipo file */
.file-upload input[type="file"] {
  display: none;
}

/* Estilo para la etiqueta que actúa como botón */
.custom-file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  width: 200px; /* Ajusta el tamaño según sea necesario */
  text-align: center;
  transition: background-color 0.3s ease;
  position: relative;
}

/* Imagen predeterminada dentro del botón */
.default-image {
  width: 50px; /* Ajusta el tamaño según sea necesario */
  height: 50px; /* Ajusta el tamaño según sea necesario */
  border-radius: 50%; /* Hacer la imagen redonda, opcional */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

/* Texto del botón */
.upload-text {
  font-size: 14px;
}

/* Efecto al pasar el ratón */
.custom-file-upload:hover {
  background-color: #0056b3;
}

