<form [formGroup]="formularioUsuario" (ngSubmit)="onSubmit()" class="col-12 formulario" style="padding-top: 20px;">


  <div class="formgrid grid">
    <div class="field col text-center">
      <!-- Vista previa de la imagen -->

    <!-- Contenedor para la vista previa de la imagen -->

    <div *ngIf="previewUrl" class="preview-container">
      <div class="imagen-cargada" style="display: inline-block; position: relative;">
        <img [src]="previewUrl" alt="Vista previa de la imagen" class="preview-image" />
        <button type="button" (click)="removeImage()" class="remove-image-button" style="padding-top: 0px;">
          <span class="material-symbols-outlined">
            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#CCCCCC">
              <path d="m251.33-204.67-46.66-46.66L433.33-480 204.67-708.67l46.66-46.66L480-526.67l228.67-228.66 46.66 46.66L526.67-480l228.66 228.67-46.66 46.66L480-433.33 251.33-204.67Z"/>
            </svg>
          </span>
        </button>
      </div>
    </div>

    <!-- Contenedor para la imagen predeterminada si no se ha seleccionado ninguna imagen -->
    <div *ngIf="!previewUrl" class="preview-container">
      <img src="assets/default-profile.jpg" alt="Imagen de perfil" class="preview-image" />
    </div>

    <!-- Contenedor para el input y el botón personalizado -->
    <div class="file-upload">
      <!-- Input de tipo archivo oculto -->
      <input type="file" id="fileInput" (change)="onFileSelected($event)" />

      <!-- Etiqueta que actúa como botón -->
      <label for="fileInput" class="btn btn-light-primary">
        <span class="upload-text">SELECCIONAR IMAGEN</span>
      </label>
    </div>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col">
      <label for="nombres">Nombre: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="nombres" type="text" formControlName="nombres">
        <mat-error *ngIf="esCampoValido('nombres')">{{ mensajeError('nombres') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="ape_paterno">Apellido Paterno: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="ape_paterno" type="text" formControlName="ape_paterno">
        <mat-error *ngIf="esCampoValido('ape_paterno')">{{ mensajeError('ape_paterno') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="ape_materno">Apellido Materno: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="ape_materno" type="text" formControlName="ape_materno">
        <mat-error *ngIf="esCampoValido('ape_materno')">{{ mensajeError('ape_materno') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="sexo">Sexo: </label>

      <mat-form-field class="form-group col-12">
        <mat-select formControlName="sexo" >
          <mat-option value="M">MASCULINO</mat-option>
          <mat-option value="F">FEMENINO</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field col">
      <label for="id_tipo_documento">Tipo Documento: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <mat-select formControlName="id_tipo_documento">
          <mat-option value="">Ninguno</mat-option>
          <mat-option *ngFor="let doc of comboDocumentoIdentidad$ | async" [value]="doc.id_tipo">
            {{ doc.abreviado }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="numero_documento">Numero Documento: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="numero_documento" [readonly]="true" type="text" formControlName="numero_documento">
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="direccion">Dirección: </label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="direccion" type="text" formControlName="direccion">
        <mat-error *ngIf="mostrarError('direccion')">{{ mensajeError('direccion')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="field col">
      <label for="celular">Celular:</label>
      <mat-form-field
        class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <input matInput id="celular" type="text" formControlName="celular">
        <mat-error *ngIf="esCampoValido('celular')">{{ mensajeError('celular') }}</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="formgrid grid">
      <div class="field col">
        <label for="correo_electronico">Correo electronico: </label>
        <mat-form-field
          class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
          <input matInput id="correo_electronico" type="text" formControlName="correo_electronico">
          <mat-error *ngIf="mostrarError('correo_electronico')">{{ mensajeError('correo_electronico')}}</mat-error>
        </mat-form-field>
      </div>
      <div class="field col">
        <label for="password">Password:</label>
        <mat-form-field
          class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
          <input matInput id="password" type="password" formControlName="password">
          <mat-error *ngIf="esCampoValido('password')">{{ mensajeError('password') }}</mat-error>
        </mat-form-field>
      </div>
  </div>
  <div class="col">
    <div class="formgrid grid">

    </div>
    <div class="flex flex-row-reverse flex-wrap">
      <button type="button" class="btn btn-danger" (click)="regresar()">Cancelar</button>
      <button type="submit" class="btn btn-light-primary">Agregar</button>

    </div>
  </div>
</form>
