<div class="modal-supermodulo modal-crud flex">
  <mat-card class="formulario-modal">
    <mat-card-header>
      <mat-card-title>{{ data.submodulo?.nombre  ? 'EDITAR' : 'CREAR' }} SUBMODULO</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="formulario-supermodulo formulario" [formGroup]="formularioSubmodulo">
        <div class="form-group">
          <app-combo-supermodulo
            [supermodulosInput]="selectedSupermodulo"
            (supermoduloSeleccionado)="onSupermoduloSeleccionado($event)
           "/>
          <mat-error *ngIf="esCampoValido('id_supermodulo')">{{ mensajeError('id_supermodulo') }}</mat-error>
        </div>
        <div class="form-group col-12">
           <app-combo-modulo
          [supermoduloSeleccionado]="selectedSupermodulo"
          [modulosInput]="selectedModulo"
          (moduloSeleccionado)="onModuloSeleccionado($event)"/>
          <mat-error *ngIf="esCampoValido('id_modulo')">{{ mensajeError('id_modulo') }}</mat-error>
        </div>
        <div class="form-group col-12">
          <label for="nombre">Nombre:</label>
          <input type="text" class="input-text-modal" formControlName="nombre">
          <mat-error *ngIf="esCampoValido('nombre')">{{ mensajeError('nombre') }}</mat-error>
        </div>
        <div class="form-group col-12">
          <label for="descripcion">Descripción:</label>
          <input type="text" class="input-text-modal" formControlName="descripcion">
          <mat-error *ngIf="esCampoValido('descripcion')">{{ mensajeError('descripcion') }}</mat-error>
        </div>
        <div class="form-group col-12">
          <label for="ruta">Ruta:</label>
          <input type="text" class="input-text-modal" formControlName="ruta">
          <mat-error *ngIf="esCampoValido('ruta')">{{ mensajeError('ruta') }}</mat-error>
        </div>
        <div class="form-group col-12">
          <label for="nombre">Almacenes:</label>
          <!-- <input type="text" class="input-text-modal" formControlName="almacenes"> -->
          <mat-checkbox formControlName="almacenes"></mat-checkbox>
          <mat-error *ngIf="esCampoValido('almacenes')">{{ mensajeError('almacenes') }}</mat-error>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="data.submodulo?.nombre; else mostrarOtroMensaje">
        <button  type="button" ngbtooltip="btn-light-primary" class="btn btn-light-primary" (click)="editarSupermodulo()">Actualizar</button>
      </div>

      <ng-template #mostrarOtroMensaje>
        <button  type="button" ngbtooltip="btn-light-primary" class="btn btn-light-primary" (click)="guardarSupermodulo()">Guardar</button>
      </ng-template>

      <button  type="button" ngbtooltip="btn-light-Dark" class="btn btn-light-dark" (click)="onNoClick()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
</div>

