<div class="page-total">
  <div class="grid ventana">
    <div class="col-12">
      <br>
      <mat-accordion class="flex m-1">
        <mat-expansion-panel hideToggle  [expanded]="true" style="width: 100%;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              FILTROS
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex ">
            <div class="col-3">
              <app-combo-ris
              (risSeleccionado)="onRisSeleccionado($event)"
              />
            </div>
            <div class="col-3">
              <app-combo-almacen-autocompletado
              [risSeleccionado]="selectedRis"
              (almacenSeleccionado)="onAlmacenSeleccionado($event)"
              ></app-combo-almacen-autocompletado>
            </div>
            <div class="col-6">
              <app-combo-medicamento (medicamentoSeleccionado)="onMedicamentoSeleccionado($event)"/>
            </div>
          </div>
          <div class="grid">
            <button type="button" ngbtooltip="btn-light-success" class="btn btn-success" (click)="buscarStock()">Buscar</button>

            <button mat-button type="button" class="btn btn-primary" [matMenuTriggerFor]="menu">Reporte <mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="generarExcel()">General</button>
              <button mat-menu-item (click)="generarDetalladoExcel()">Detallado</button>
            </mat-menu>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="grid ventana">
    <div class="col-12">
      <div class="text-center p-3 border-round-sm font-bold tarjeta tabla-listado bg-primary " style="position: relative;">
        <div *ngIf="isLoadingResults" class="example-loading-shade">
          <mat-spinner></mat-spinner>
        </div>

        <div class="example-table-container">
          <table mat-table [dataSource]="data" class="example-table mat-elevation-z8" multiTemplateDataRows
                matSort matSortActive="almacen_nombre" matSortDisableClear matSortDirection="desc">

            <ng-container matColumnDef="almacen_codigo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>COD. ALMACEN</th>
              <td mat-cell *matCellDef="let row">{{row.almacen_codigo}}</td>
            </ng-container>
            <ng-container matColumnDef="almacen_nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>NOM. ALMACEN</th>
              <td mat-cell *matCellDef="let row">{{row.almacen_nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="medicamento_codigo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>COD. MEDICAMENTO</th>
              <td mat-cell *matCellDef="let row">{{row.medicamento_codigo}}</td>
            </ng-container>
            <ng-container matColumnDef="medicamento_nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>NOM.MEDICAMENTO</th>
              <td mat-cell *matCellDef="let row">{{row.medicamento_nombre}} {{row.medicamento_presentacion}} {{row.medicamento_concentracion}}</td>
            </ng-container>
            <ng-container matColumnDef="stock">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>STOCK</th>
              <td mat-cell *matCellDef="let row">{{row.stock | number:'1.0-0'}}</td>
            </ng-container>
            <ng-container matColumnDef="stock_ultima_fecha_mov">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA DE ULTIMO MOVIMIENTO</th>
              <td mat-cell *matCellDef="let row">{{row.stock_ultima_fecha_mov}}</td>
            </ng-container>
            <ng-container matColumnDef="fecha_reporte">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>FECHA REPORTE</th>
              <td mat-cell *matCellDef="let row">{{row.fecha_reporte}}</td>
            </ng-container>

            <ng-container matColumnDef="expand">
              <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button aria-label="expand row" (click)="expandRow(row)">
                  <mat-icon *ngIf="expandedElement1 === row">keyboard_arrow_up</mat-icon>
                  <mat-icon *ngIf="expandedElement1 !== row">keyboard_arrow_down</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand1.length">
                <div class="example-element-detail"
                     [@detailExpand]="element == expandedElement1 ? 'expanded' : 'collapsed'">
                     <medicamento-tabla-detalle-stock [medicamento_tabla_stock]="element" [detalle_stock]="detalle_stock" [isLoadingResultsDetallado]="spinerDetallado" class="p-7" style="width: 100%;"/>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand1"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand1;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement1 === row"
            (click)="expandedElement1 = expandedElement1 === row ? null : row"  (click)="expandRow(row)">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"  [length]="resultsLength"></mat-paginator>
      </div>
    </div>
  </div>
</div>
