<div class="modal-supermodulo modal-crud">
  <mat-card class="formulario-modal ">
    <mat-card-header>
      <mat-card-title>{{ data.nombre  ? 'EDITAR' : 'CREAR' }} SUPERMODULO</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="formulario-supermodulo formulario" [formGroup]="formularioSupermodulo">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="input-text-modal" formControlName="nombre">
        </div>
        <div class="form-group">
          <label for="nombre">Descripción:</label>
          <input type="text" class="input-text-modal" formControlName="descripcion">
        </div>
        <div class="form-group">
          <label for="nombre">Ruta:</label>
          <input type="text" class="input-text-modal" formControlName="ruta">
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="data.nombre; else mostrarOtroMensaje">
        <button  type="button" ngbtooltip="btn-light-primary" class="btn btn-light-primary" (click)="editarSupermodulo()">Actualizar</button>
      </div>

      <ng-template #mostrarOtroMensaje>
        <button  type="button" ngbtooltip="btn-light-primary" class="btn btn-light-primary" (click)="guardarSupermodulo()">Guardar</button>
      </ng-template>

      <button  type="button" ngbtooltip="btn-light-Dark" class="btn btn-light-dark" (click)="onNoClick()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
</div>

