<div class="page-total">
  <div class="grid ventana">
    <div class="col-10 col-offset-1">
      <div class="p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">

        <form [formGroup]="formularioEvaluacion"  class="col-12 formulario">
          <div class="formgrid grid">
            <div class="field col">
              <label for="nombre">Nombre: </label>
              <mat-form-field
                class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <input matInput id="nombre" type="text" formControlName="nombre">
                <mat-error *ngIf="esCampoValido('nombre')">{{ mensajeError('nombre') }}</mat-error>
              </mat-form-field>
            </div>
            <div class="field col">
              <label for="descripcion">Descripción: </label>
              <mat-form-field
                class="input-texto text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <input matInput id="descripcion" type="text" formControlName="descripcion">
                <mat-error *ngIf="esCampoValido('descripcion')">{{ mensajeError('descripcion') }}</mat-error>
              </mat-form-field>
            </div>

          </div>
          <div class="formgrid grid">
            <div class="field col">
              <label for="id_estado">Estado: </label>

              <mat-form-field class="form-group col-12">
                <mat-select formControlName="id_estado" >
                  @for (estado of array_combo_estado; track estado) {
                    <mat-option [value]="estado.id">{{estado.valor}}</mat-option>
                  }
                </mat-select>
                <mat-error *ngIf="esCampoValido('id_estado')">{{ mensajeError('id_estado') }}</mat-error>

              </mat-form-field>
            </div>
            <div class="field col">
              <label for="id_tipo_evaluacion">Tipo: </label>

              <mat-form-field class="form-group col-12">
                <mat-select formControlName="id_tipo_evaluacion" >
                  @for (tipo of array_combo_tipo; track tipo) {
                    <mat-option [value]="tipo.id">{{tipo.valor}}</mat-option>
                  }
                </mat-select>
                <mat-error *ngIf="esCampoValido('id_tipo_evaluacion')">{{ mensajeError('id_tipo_evaluacion') }}</mat-error>

              </mat-form-field>
            </div>

            <div class="field col">
              <label for="fecha_hora_limite">Fecha maxima: </label>

              <mat-form-field class="form-group col-12">
                <mat-form-field>
                  <input matInput type="datetime-local" placeholder="start date" formControlName="fecha_hora_limite">
                </mat-form-field>
                <mat-error *ngIf="esCampoValido('fecha_hora_limite')">{{ mensajeError('fecha_hora_limite') }}</mat-error>

              </mat-form-field>
            </div>
          </div>


          <div class="col">

            <div class="flex flex-row-reverse flex-wrap">
              <button type="button" class="btn btn-danger" (click)="regresar()">Cancelar</button>
              <button type="button" class="btn btn-light-primary" (click)="guardar_evaluacion()">Guardar</button>
              <button type="button" class="btn btn-light-primary" (click)="iniciar_evaluacion()">Iniciar evaluación</button>

            </div>
          </div>
        </form>


      </div>
    </div>
  </div>

</div>
<div class="page-total">
  <div class="grid ventana">
    <div class="col-10 col-offset-1">
      <div class="p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">
        <adm-eval-eval-tabla-preguntas [id_evaluacion]="id_evaluacion"  (preguntasModificadas)="manejarPreguntasModificadas($event)" style="width: 100%;"></adm-eval-eval-tabla-preguntas>
      </div>
    </div>
  </div>
</div>
