<div class="page-total">
  <div class="grid ventana">
    <div class="col-12">
      <br>
      <mat-accordion class="flex m-1">
        <mat-expansion-panel hideToggle  [expanded]="true"  style="width: 100%;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              FILTROS
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="grid ">
            <div class="xl:col-3  lg:col-3 md:col-6 sm:col-12">
              <label for="nombre">Rango de fechas:</label>
              <mat-form-field>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Fecha Inicial">
                  <input matEndDate formControlName="end" placeholder="Fecha Final">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12">
              <app-combo-almacen-filtrado [filtraUsuario]="filtraUsuario" [nombreSubmodulo]="nombreSubmodulo" (almacenSeleccionado)="onAlmacenSeleccionado($event)"/>
              <!-- <maestra-combo-maestra-categoria [tipoMaestraCategoria]="tipoMaestraCategoria"  (maestraCategoriaSeleccionado)="onMaestraCategoria($event)"/> -->
            </div>
          </div>
          <div class="grid">
            <button type="button" ngbtooltip="btn-light-success" class="btn btn-success" (click)="generarLibroControl()">Buscar</button>
            <button type="button" ngbtooltip="btn-light-success" class="btn btn-success" (click)="exportTableToExcel('idPrueba','kit.xls');">exportar</button>

            <button mat-button type="button" class="btn btn-primary" [matMenuTriggerFor]="menu">Reporte <mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <!-- <button mat-menu-item (click)="exportTableToExcel()">Excel</button> -->
            </mat-menu>
            <!-- <button >Generar Excel</button> -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="grid ventana">
    <div class="col-12">

      <div class="table-responsive border rounded-1 divtbllistado" data-bs-theme="dark" id="divtbllistado" style="height:600px">
        <div class="border-round-sm font-bold tarjeta tabla-listado bg-primary " style="position: relative;">
          <app-tabla-dinamica-estupefaciente-iia [jsonTabla]="jsonTabla"></app-tabla-dinamica-estupefaciente-iia>
        </div>
      </div>

    </div>
  </div>
</div>
