<div class="page-total">
  <div  class="grid ventana">
    <div class="col-10 col-offset-1">
      <div class="p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">
        <table class="ng-star-inserted">
          <thead>
            <tr class="cabecera-primera">
              <th class="cabecera-item-primera ng-star-inserted">N°</th>
              <th class="cabecera-item-primera ng-star-inserted apellido">Apellidos y Nombres</th>
              <th class="cabecera-item-primera ng-star-inserted respuesta">email</th>
              <th class="cabecera-item-primera ng-star-inserted correccion">Porcentaje</th>
            </tr>
          </thead>
          <tbody>
            <tr class="cuerpo-fila ng-star-inserted" *ngFor="let resultadosPersona of resultadosPersonas; let i = index">
              <td>{{ i+1 }}</td>
              <td>{{resultadosPersona.ape_paterno }} {{resultadosPersona.ape_materno}}, {{resultadosPersona.nombres}}</td>
              <td>{{resultadosPersona.email}}</td>
              <td>{{resultadosPersona.porcentaje}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="grid ventana">
    <div class="col-10 col-offset-1">
      <div class="p-3 border-round-sm font-bold tarjeta grid tabla-listado bg-primary">
        <div class="col-12">
          <div class="flex flex-row-reverse flex-wrap">
            <button type="button" class="btn btn-danger" (click)="regresar()">Volver</button>
          </div>
        </div>
        <!-- <div *ngIf="!isCorreccionesCompletas()" class="alert alert-warning">
          <strong>Advertencia:</strong> Debes corregir todas las respuestas antes de guardar.
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-light-danger" (click)="regresar()">Cancelar</button>
          <button type="button" class="btn btn-light-success" (click)="guardarPreguntasAbiertasCorregidas()">Guardar</button>

          <button type="button" class="btn btn-light-success" [disabled]="!isCorreccionesCompletas()" (click)="guardarCorrecionyContinuar()">Guardar y calcular</button>
        </div> -->
      </div>
    </div>
  </div>

</div>
<p-toast position="bottom-center" key="bc"></p-toast>
