.example-full-width {
  width: 100%;
}

.mat-mdc-form-field{
  width: 100%;
}

* .example-full-width{
  font-family: "Poppins", sans-serif !important;
}

.example-container {
  position: relative;
  height: 800px;
}

.example-table-container {
  position: relative;
  min-height: 200px;

  overflow: auto;
}

table {
  width: min-content;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}
.mat-mdc-form-field-type-mat-date-range-input .mat-mdc-form-field-flex {
  height: 25px !important;
}

.disponibilidad-normostock{
  background-color: #dfffea;
  color: #17c653;
  font-weight: 600;
}

.disponibilidad-sobrestock{
  background-color: #e9f3ff;
  color: #1b84ff;
  font-weight: 600;
}


.disponibilidad-substock{
  background-color: #fff8dd;
  color: #f6c000;
  font-weight: 600;
}

.disponibilidad-sin,.cdk-header-row{
  background-color: #f9f9f9;
  color: #4b5675;
  font-weight: 600;
}
.disponibilidad-con.rotacion.saldo.sin{
  background-color: #f9f9f9;
  color: #4b5675;
  font-weight: 600;
}

.disponibilidad-desabastecido{
  background-color: #ffeef3;
  color: #f8285a;
  font-weight: 600;
}

table.tabla-ici{
  border-spacing: 2px !important;
}

.readonly-icon {
  pointer-events: auto; /* Permite que el icono siga siendo clickeable */
  opacity: 0.5; /* Cambia la opacidad para dar un efecto de solo lectura */
}


.mat-mdc-unelevated-button.mat-primary {
  --mdc-filled-button-container-color: #2ed8b6;
  --mdc-filled-button-label-text-color: white;
  --mat-filled-button-state-layer-color: white;
  --mat-filled-button-ripple-color: rgba(255, 255, 255, 0.1);
}

.flecha {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  animation: parpadeo 1s infinite; /* Animación de parpadeo */
  transform: rotate(-140deg);
    top: 100px;
    position: absolute;
    left: 83px;
}

.cuerpo {
  width: 120px; /* Cuerpo más largo */
  height: 20px; /* Cuerpo más grueso */
  background-color: red; /* Cuerpo de la flecha, color rojo */
}

.punta {
  width: 0;
  height: 0;
  border-left: 20px solid transparent; /* Aumentamos el tamaño de la punta */
  border-right: 20px solid transparent;
  border-bottom: 40px solid red; /* Punta más grande */
  position: absolute;
  left: 100px; /* Mover la punta a la derecha para alinearla con el cuerpo */
  top: -20px; /* Ajuste para alinearla verticalmente */
  transform: rotate(-45deg); /* Rotación para que apunte diagonalmente hacia arriba a la izquierda */
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

