<div class="modal-supermodulo modal-crud">
  <mat-card class="formulario-modal ">
    <mat-card-header>
      <mat-card-title>{{ data.modulo.nombre  ? 'EDITAR' : 'CREAR' }} MODULO</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="formulario-supermodulo formulario" [formGroup]="formularioModulo">


        <app-combo-supermodulo
        [supermodulosInput]="selectedSupermodulo"
        (supermoduloSeleccionado)="onSupermoduloSeleccionado($event)
       ">
      </app-combo-supermodulo>
      <mat-error *ngIf="esCampoValido('id_supermodulo')">{{ mensajeError('id_supermodulo') }}</mat-error>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="input-text-modal" formControlName="nombre">
          <mat-error *ngIf="esCampoValido('nombre')">{{ mensajeError('nombre') }}</mat-error>
        </div>
        <div class="form-group">
          <label for="nombre">Descripción:</label>
          <input type="text" class="input-text-modal" formControlName="descripcion">
          <mat-error *ngIf="esCampoValido('descripcion')">{{ mensajeError('descripcion') }}</mat-error>
        </div>
        <div class="form-group">
          <label for="nombre">Ruta:</label>
          <input type="text" class="input-text-modal" formControlName="ruta">
          <mat-error *ngIf="esCampoValido('ruta')">{{ mensajeError('ruta') }}</mat-error>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="data.modulo.nombre; else mostrarOtroMensaje">
        <button  type="button" ngbtooltip="btn-light-primary" class="btn btn-light-primary" (click)="editarSupermodulo()">Actualizar</button>
      </div>

      <ng-template #mostrarOtroMensaje>
        <button  type="button" ngbtooltip="btn-light-primary" class="btn btn-light-primary" (click)="guardarSupermodulo()">Guardar</button>
      </ng-template>

      <button  type="button" ngbtooltip="btn-light-Dark" class="btn btn-light-dark" (click)="onNoClick()">Cerrar</button>
    </mat-card-actions>
  </mat-card>
</div>

