<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>SismedWeb</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- Google tag (gtag.js) -->
  <script  *ngIf="isProduction" async src="https://www.googletagmanager.com/gtag/js?id=G-9DRHKPHTJP"></script>
  <script  *ngIf="isProduction" >
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9DRHKPHTJP');
  </script>
</head>
<body class="login-page off-canvas-sidebar fondo-dark">
  <app-root></app-root>
</body>
</html>
