/* You can add global styles to this file, and also import other style files */


:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --plomo-oscuro-color: #15171c;
  --letra-ploma: #9fa0a1;
  --plomo-hover-color:#a7a7a724;
  --azul-activo-color:#5d87ff;
  --tabla-fondo-verde-activo: #DFFFEA;
  --tabla-letra-verde-activo: #17C653;
  --tabla-fondo-rojo-inactivo: #FFEEF3;
  --tabla-letra-rojo-inactivo: #F8285A;


  --boton-light-primary-fondo: #d9ebff;
  --boton-light-primary-color: #4099ff;
  --boton-primary-fondo: #4099ff;
  --boton-primary-fondo-hover: #0b5ed7;
  --boton-primary-color: #d9ebff;

  --boton-light-secondary-fondo: #dee1e4;
  --boton-light-secondary-color: #5b6b79;
  --boton-secondary-fondo: #5b6b79;
  --boton-secondary-fondo-hover: #4b5863;
  --boton-secondary-color: #dee1e4;

  --boton-light-success-fondo: #d5f7f0;
  --boton-light-success-color: #2ed8b6;
  --boton-success-fondo: #2ed8b6;
  --boton-success-fondo-hover: #157347;
  --boton-success-color: #d5f7f0;

  --boton-light-danger-fondo: #ffdde2;
  --boton-light-danger-color: #ff5370;
  --boton-danger-fondo: #ff5370;
  --boton-danger-fondo-hover: #bb2d3b;
  --boton-danger-color: #ffdde2;

  --boton-light-warning-fondo: #fff0db;
  --boton-light-warning-color: #ffb64d;
  --boton-warning-fondo: #ffb64d;
  --boton-warning-fondo-hover: #ffa627;
  --boton-warning-color: #fff0db;

  --boton-light-info-fondo: #ccf2f6;
  --boton-light-info-color: #00bcd4;
  --boton-info-fondo: #00bcd4;
  --boton-info-fondo-hover: #009aae;
  --boton-info-color: #ccf2f6;

  --boton-light-dark-fondo: #d2d4d6;
  --boton-light-dark-color: #1d2630;
  --boton-dark-fondo: #1d2630;
  --boton-dark-fondo-hover: #0f1318;
  --boton-dark-color: #d2d4d6;

  --boton-light-light-fondo: #f8f9fa;
  --boton-light-light-color: #37474f;
  --boton-light-fondo: #f8f9fa;
  --boton-light-ligth-fondo-hover: #e2e6ea;
  --boton-light-color: #37474f;

}
html, body { height: 100%; }
body { margin: 0; }

.quitar-padding>.mat-mdc-menu-content{
  padding: 0px;
}

.mat-drawer-content{
  background: #e1e1e1;
}

body.fondo-dark .color-estandar{
  /*background-color: var(--plomo-oscuro-color);*/
  background-color: #153959;
  color: var(--white-color)
}
.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6,.mat-mdc-card-title,.mat-mdc-card-content,.mdc-button__label{
  font-family: "Poppins", sans-serif !important;
}
.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
  background: inherit;
  font-family: "Poppins", sans-serif !important;
}

body.fondo-dark .nav_link:hover{
  color: var(--white-color) !important;
  background: var(--plomo-hover-color);
}

body.fondo-dark .show_submenu {
  color: var(--white-color) !important;
  background: var(--plomo-hover-color);
}

body.fondo-dark .nav_link.active{
  color: var(--white-color) !important;
  background: var(--azul-activo-color);
}

body.fondo-dark .mat-toolbar .mat-mdc-menu-trigger{
    border: 1px solid rgba(0, 106, 230, 0.2) !important;
    background-color: #172331 !important;
    color: #006AE6 !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*padding: 0;*/
    height: calc(1em + 1rem + 12px);
    /*width: calc(1.5em + 0.55rem + 1px);*/


    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

body.fondo-dark {
  font-family: "Poppins", sans-serif !important;
}

body.fondo-dark .mat-mdc-card.example-card{
  color: var(--white-color) !important;
  background: #2a2c30;
}

body.fondo-dark .mat-mdc-card-subtitle{
  color: var(--letra-ploma);
}


body.fondo-dark .mat-mdc-menu-panel{
  /*background-color: #ffffff00;*/
  background-color: #fff;
}

body.fondo-dark .example-card .mat-mdc-button-base {
  color: var(--white-color) !important;
  background: var(--azul-activo-color);
}

.mat-drawer{
  overflow-y: hidden !important;
}

body.fondo-dark .collapse_sidebar{
  background: var(--azul-activo-color);
  color: var(--white-color) !important;
  border-top: 0px solid #000;
}

.container-xxl{
  padding: 0 50px;


}

.example-sidenav-content{
  background: #e5e5e5;

}

.contenedor-grande{
  background: #eef5f9;
  display: flow-root;
}

body.fondo-dark .tarjeta{
  background:var(--white-color) !important;
  font-family: "Poppins", sans-serif !important;
  box-shadow: 0 1px 2.94px 0.06px #041a3729;
  border-radius: 0.25rem !important;
}

body.fondo-dark .titulo-layout{
  padding: 50px 50px;
}

.mat-menu-panel {
  z-index: 1500 !important; /* Ajusta este valor según sea necesario */
}


body.fondo-dark .botones-tabla .mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  border-radius: 10px;
}

body.fondo-dark .tabla-listado .activo-tabla{
  background-color: var(--tabla-fondo-verde-activo);
  color: var(--tabla-letra-verde-activo);
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

body.fondo-dark .tabla-listado .inactivo-tabla{
  background-color: var(--tabla-fondo-rojo-inactivo);
  color: var(--tabla-letra-rojo-inactivo);
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height:1.5;
  text-align:center;
  text-decoration:none;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: .375rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-right: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif !important;
}

.btn-light-primary:hover {
  color: var(--boton-light-primary-fondo);
  background: var(--boton-light-primary-color);
}
.btn-light-primary {
  background:  var(--boton-light-primary-fondo);
  color: var(--boton-light-primary-color);
}
.btn-light-secondary:hover {
  color: var(--boton-light-secondary-fondo);
  background: var(--boton-light-secondary-color);
}
.btn-light-secondary {
  background:  var(--boton-light-secondary-fondo);
  color: var(--boton-light-secondary-color);
}
.btn-light-success:hover {
  color: var(--boton-light-success-fondo);
  background: var(--boton-light-success-color);
}
.btn-light-success {
  background:  var(--boton-light-success-fondo);
  color: var(--boton-light-success-color);
}
.btn-light-danger:hover {
  color: var(--boton-light-danger-fondo);
  background: var(--boton-light-danger-color);
}
.btn-light-danger {
  background:  var(--boton-light-danger-fondo);
  color: var(--boton-light-danger-color);
}
.btn-light-warning:hover {
  color: var(--boton-light-warning-fondo);
  background: var(--boton-light-warning-color);
}
.btn-light-warning {
  background:  var(--boton-light-warning-fondo);
  color: var(--boton-light-warning-color);
}
.btn-light-info:hover {
  color: var(--boton-light-info-fondo);
  background: var(--boton-light-info-color);
}
.btn-light-info {
  background:  var(--boton-light-info-fondo);
  color: var(--boton-light-info-color);
}
.btn-light-dark:hover {
  color: var(--boton-light-dark-fondo);
  background: var(--boton-light-dark-color);
}
.btn-light-dark {
  background:  var(--boton-light-dark-fondo);
  color: var(--boton-light-dark-color);
}

.mat-mdc-form-field-type-mat-date-range-input .mat-mdc-form-field-flex{
  height: 25px !important;
}

.mat-mdc-form-field-type-mat-input .mat-mdc-form-field-flex{
  height: 25px !important;
}
/*****************************************************************************/
.btn-primary:hover {
  color: var(--white-color) !important;
  background: var(--boton-primary-fondo-hover) !important;
}
.btn-primary {
  background:  var(--boton-primary-fondo) !important;
  color: var(--white-color) !important;
}
.btn-secondary:hover {
  color: var(--white-color);
  background: var(--boton-secondary-fondo-hover);
}
.btn-secondary {
  background:  var(--boton-secondary-fondo);
  color: var(--white-color);
}
.btn-success:hover {
  color: var(--white-color);
  background: var(--boton-success-fondo-hover);
}
.btn-success {
  background:  var(--boton-success-fondo);
  color: var(--boton-success-color);
}
.btn-danger:hover {
  color: var(--white-color);
  background: var(--boton-danger-fondo-hover);
}
.btn-danger {
  background:  var(--boton-danger-fondo);
  color: var(--boton-danger-color);
}
.btn-warning:hover {
  color: var(--white-color);
  background: var(--boton-warning-fondo-hover);
}
.btn-warning {
  background:  var(--boton-warning-fondo);
  color: var(--boton-warning-color);
}
.btn-info:hover {
  color: var(--white-color);
  background: var(--boton-info-fondo-hover);
}
.btn-info {
  background:  var(--boton-info-fondo);
  color: var(--boton-info-color);
}
.btn-dark:hover {
  color: var(--white-color);
  background: var(--boton-dark-fondo-hover);
}
.btn-dark {
  background:  var(--boton-dark-fondo);
  color: var(--boton-dark-color);
}
.btn-light:hover {
  color: var(--boton-light-light-color);
  background: var(--boton-light-light-fondo-hover);
}
.btn-light {
  background:  var(--boton-light-light-fondo);
  color: var(--boton-light-light-color);
}

.input-text-modal{
  display: block;
  width: -webkit-fill-available;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: "Poppins", sans-serif !important;
}

.modal-supermodulo{
  min-width: 500px;
}

.modal-crud mat-card-header{
  background: #dfffea;
  color: #17c653;
  padding: 20px;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 1rem !important;
}

.modal-eliminar .mat-mdc-card-header {
  background-color: #FFEEF3;
  color: #f8285a;
}

.modal-eliminar .div-icono-eliminar{
  display: block;
  text-align: center;
}

.modal-eliminar .div-icono-eliminar mat-icon{
  width: 100%;
  color: #ff5370;
  display: inline;
  text-align: center;
  font-size: 100px;
}

.page-header {
  box-shadow: 0 1px 2.94px 0.06px #041a3729;
  background: #fff;
  padding: 20px 25px;
  border-radius: 5px;
}

.titulo-pagina{

  margin: 50px;

  padding-top: 30px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 600;
  font-size: 30px;
  color: #5e5e5e;

}

.contenedor-page{
  background: white;
  font-family: "Poppins", sans-serif !important;
  box-shadow: 0 1px 2.94px 0.06px #041a3729;
  border-radius: 0.25rem !important;
}

.combo-estandar .mat-mdc-text-field-wrapper{
  border-radius: 5px;
}

.page-total{
  padding: 5px;
}

.combo-estandar .mat-mdc-form-field-flex .mat-mdc-form-field-infix{
  padding-top: 10px;
  padding-bottom:10px;
  min-height:20px;
}

.ventana{
  margin: 15px 0px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control-label{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: .5rem;
  display: inline-block;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.formulario .input{
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: .375rem !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: "Poppins", sans-serif !important;
}

.mdc-text-field{
  border-radius: 5px !important;
  padding: 10px !important;
}

.mat-mdc-form-field-infix{
  padding: 0px !important;
  min-height: auto !important;
}

.mat-mdc-text-field-wrapper{
  padding: 10px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f5f5f569;
}

.subtitulo{
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.tabs-general .mdc-tab__text-label{
  height:40px !important;
  font-weight: 400;
  font-family: "Poppins", sans-serif !important;
}

.tabs-general .mat-mdc-tab-labels{
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: rgb(211, 211, 211);
  border-radius: 0.75rem;
  min-height: unset;
  padding: 0.25rem;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  min-width: 0px;
  overflow-wrap: break-word;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
}


.tabs-general .mdc-tab--active, .tabs-general .mdc-tab-indicator--active,
.tabs-general .mat-mdc-tab.mdc-tab--active .mat-mdc-tab-ripple,
.tabs-general .mat-mdc-tab.mdc-tab--active:hover .mdc-tab-indicator__content--underline,

.tabs-general .mat-mdc-tab.mdc-tab--active:focus .mdc-tab-indicator__content--underline

{
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  letter-spacing: 0.02857em;
  border-radius: 0.75rem;
  height: 40px !important;
  color: rgb(52, 71, 103) !important;

}
.tabs-general .mdc-tab-indicator .mdc-tab-indicator__content {
  transition-duration: 500ms;
  height: 40px;
  background: white;
  border-radius: 0.75rem;
  border: none;
}

.tabs-general .mat-mdc-tab:not(.mdc-tab--stacked),.tabs-general .mdc-tab__content {
  height: 40px;
}

.mat-mdc-tab-label-container{
  margin-bottom: 25px;
}

tbody .ng-star-inserted{
  color: #565656;
}

.example-container{

  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


