.mat-expansion-panel .field  {
  font-family: "Poppins", sans-serif !important;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-mdc-form-field{
  width: 100%;
}

::ng-deep .mat-menu-panel {
  z-index: 1000; /* Ajusta este valor según sea necesario */
}

.image-preview {
  margin-top: 10px;
  width: 160px;
  height: 160px;
  overflow: hidden; /* Ocultar el contenido que sobrepase los límites */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.image-preview img {
  width: 160px;
  height: 160px;
  max-width: none;
}
