  <label for="nombre">Supermodulo:</label>
  <mat-form-field class="example-full-width">

    <input type="text"
          aria-label="Supermodulo"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option.nombre }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
