.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-mdc-form-field{
  width: 100%;
}

* {
  font-family: "Poppins", sans-serif !important;
}


.scroll-container {
  max-height: 200px; /* Ajusta esta altura según tus necesidades */
  overflow-y: auto;
}

.mat-option {
  height: 48px; /* Ajusta esta altura según tus necesidades */
}
