<!-- <label for="nombre">Medicamento:</label>
<mat-form-field>
  <mat-select [formControl]="myControl" multiple (selectionChange)="someMethod($event)">
    <mat-option [value]="0">TODOS</mat-option>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id_medicamento">{{ option.nombre }}</mat-option>
  </mat-select>
</mat-form-field>
 -->

 <label for="nombre">Medicamento:</label>
 <mat-form-field class="example-full-width">
   <input type="text"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">
   <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
     <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
       {{option.id_medicamento}} - {{option.nombre}} {{option.presentacion}} {{option.concentracion}}
     </mat-option>
   </mat-autocomplete>
 </mat-form-field>
