
<br>
<mat-accordion class="flex m-1">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        FILTROS
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="grid">
      <div class="form-group field  col-4">
        <app-combo-almacen
        [almacenesInput]="selectedAlmacen"
        (almacenSeleccionado)="onAlmacenSeleccionado($event)"
        ></app-combo-almacen>
      </div>
      <div class="form-group field  col-4">
        <app-combo-supermodulo
          [supermodulosInput]="selectedSupermodulo"
          (supermoduloSeleccionado)="onSupermoduloSeleccionado($event)
         ">
        </app-combo-supermodulo>
      </div>
      <div class="form-group col-4">
        <app-combo-modulo
        [supermoduloSeleccionado]="selectedSupermodulo"
        (moduloSeleccionado)="onModuloSeleccionado($event)">
        </app-combo-modulo>
      </div>
      <div class="form-group col-4">

        <app-combo-submodulo
        [moduloSeleccionado]="selectedModulo"
        (submoduloSeleccionado)="onSubmoduloSeleccionado($event)">
        </app-combo-submodulo>
      </div>
      <div class="form-group col-4">

        <app-combo-permiso
        [submoduloSeleccionado]="selectedSubmodulo"
        (permisoSeleccionado)="onPermisoSeleccionado($event)">
        </app-combo-permiso>
      </div>
      <div class="form-group col-4">
        <label for="nombre">Estado:</label>
        <mat-form-field>
          <mat-select [(ngModel)]="selectedEstado">
            <mat-option>TODOS</mat-option>
            <mat-option value="true">ACTIVOS</mat-option>
            <mat-option value="false">INACTIVOS</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="grid">
      <button type="button" ngbtooltip="btn-light-success" class="btn btn-success" (click)="buscarFiltrado()">Buscar</button>
      <button type="button" ngbtooltip="btn-light-primary" class="btn btn-primary" (click)="limpiarFiltrado()">Limpiar</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<br>

<table mat-table [dataSource]="dataSource" cdkDropList>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="id_permiso_total">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element">  {{element.id_permiso_total}} </td>
  </ng-container>

  <ng-container matColumnDef="codigo_almacen">
    <th mat-header-cell *matHeaderCellDef> Cod. Almacen </th>
    <td mat-cell *matCellDef="let element"> {{element.almacen?.id_almacen }} </td>
  </ng-container>

  <ng-container matColumnDef="almacen">
    <th mat-header-cell *matHeaderCellDef> Almacen </th>
    <td mat-cell *matCellDef="let element"> {{element.almacen?.nombre }} </td>
  </ng-container>

  <ng-container matColumnDef="supermodulo">
    <th mat-header-cell *matHeaderCellDef> Supermodulo </th>
    <td mat-cell *matCellDef="let element"> {{element.supermodulo.nombre }} </td>
  </ng-container>

  <ng-container matColumnDef="modulo">
    <th mat-header-cell *matHeaderCellDef> Modulo </th>
    <td mat-cell *matCellDef="let element"> {{ element.modulo.nombre }} </td>
  </ng-container>

  <ng-container matColumnDef="submodulo">
    <th mat-header-cell *matHeaderCellDef> Submodulo </th>
    <td mat-cell *matCellDef="let element"> {{ element.submodulo.nombre }} </td>
  </ng-container>

  <ng-container matColumnDef="permiso">
    <th mat-header-cell *matHeaderCellDef> Permiso </th>
    <td mat-cell *matCellDef="let element"> {{ element.permiso.nombre }} </td>
  </ng-container>
  <!-- Agregar más columnas según sea necesario -->

  <!-- Encabezado de la tabla -->
  <tr mat-header-row *matHeaderRowDef="supermoduloColumnas"></tr>
  <!-- Fila de datos de la tabla -->
  <tr mat-row *matRowDef="let row; columns: supermoduloColumnas;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
