<div class="page-total">
  <div class="grid ventana">
    <div class="col-12">

  <h1 class="police-tape police-tape--1">
    &nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 403
  </h1>
  <h1 class="police-tape police-tape--2">Acceso Denegado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acceso Denegado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acceso Denegado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acceso Denegado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acceso Denegado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acceso Denegado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>

    </div>
  </div>
</div>
